<ion-header>
    <ion-toolbar> 
        <ion-title>Đơn hàng #{{selectedOrder.Id}}</ion-title>
        <ion-buttons slot="primary">
            <ion-button title="{{'erp.app.pages.sale.sale-order.merge.close-modal' | translate}}" color="primary" (click)="refresh()">
                <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
            </ion-button>
            <ion-button title="{{'erp.app.pages.sale.sale-order.merge.close-modal' | translate}}" color="secondary" (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme class="ion-padding">
    <div id="pos-payment-page" style="position: absolute;"></div>
    <div >
        <ion-grid fixed style="max-width: 500px;">
            <ion-row>
                <ion-col size="12">
                    <ion-text><center>Tổng Tiền Đơn Hàng</center></ion-text>
                    <ion-text color="primary"><center><b><h5>{{selectedOrder.CalcTotalOriginal | number: '1.0-0'}} đ</h5></b></center></ion-text>
                </ion-col>

                <ion-col size="12" *ngIf="items.length>0">
                    <div class="c-control">
                        <div class="c-label header-title-payment"><center><ion-text color="primary">Các lần thanh toán</ion-text></center></div>
                        <div class="table-contain">
                            <section class="table">
                                <header class="bold">   
                                    <div class="col-id cell">#</div> 
                                    <div class="col-code cell">Mã GD</div>                          
                                    <div class="col-type cell">Hình thức</div>                              
                                    <div class="col-status cell">Trạng thái</div>
                                    
                                    <div class="col-money cell">Số tiền</div>                                                                       
                                </header>
                                <div class="row" [ngClass]="{odd: idx % 2 != 0 }" *ngFor="let i of items, let idx = index;">
                                    <div class="col-id cell">
                                        <span title="kiểm tra" *ngIf="i.IncomingPayment.Status=='PROCESSING' && i.IncomingPayment.Type !='CASH'" (click)="getStatus(idx,i.IncomingPayment.Id)">
                                            <ion-icon style="pointer-events:none ;font-size: 15pt;" color="primary" name="refresh-circle-outline" ></ion-icon>
                                        </span>                               
                                    </div> 
                                    <div class="col-code cell">
                                        <ion-text color="primary" (click)="toDetail(i.IncomingPayment.Code)">{{i.IncomingPayment.PaymentCode}}</ion-text>
                                        <!-- <small *ngIf="i.IncomingPayment.CreatedTimeText">{{i.IncomingPayment.CreatedTimeText}}</small> -->
                                    </div>                                   
                                    <div class="col-type cell">
                                        {{i.IncomingPayment.TypeText}}
                                    </div>                                
                                    <div class="col-status cell">
                                        <span class="bar-holder">
                                            <ion-text class="bar-title" [color]="i.IncomingPayment.StatusColor">{{i.IncomingPayment.StatusText}}</ion-text>
                                            <span class="bar" [ngClass]="{active: s.Code==i.IncomingPayment.Status}" [ngStyle]="{'background-color': 'var(--ion-color-'+s.Color+')'}" *ngFor="let s of statusList" [title]="s.Name"></span>        
                                        </span>  
                                    </div>
                                    
                                    <div class="col-money cell">
                                        {{i.IncomingPayment.Amount | number: '1.0-0'}} đ
                                    </div>
                                                                                              
                                </div>
                            </section>
                        </div>
                    </div>
                </ion-col>
                <ion-col size="12">
                      
                    <ion-item lines="none" class="item-row">  
                        <ion-text slot="start">Đã thanh toán</ion-text>                                                                                                                                 
                        <ion-label slot="end" color="primary">{{PaidAmounted | number: '1.0-0'}} đ</ion-label>
                    </ion-item>
                    <ion-item *ngIf="DebtAmount > 0" lines="none" class="item-row">  
                        <ion-text slot="start">Còn nợ</ion-text>                                                                                                                                 
                        <ion-label slot="end" color="primary">{{DebtAmount | number: '1.0-0'}} đ</ion-label>
                    </ion-item>
                    <div *ngIf="DebtAmount > 0" class="c-control ion-text-center">                          
                        <ion-button (click)="toPayment()" expand="block">Tiến hành thanh toán</ion-button>                                                         
                    </div>                  
                </ion-col>
            </ion-row>
            <ion-row class="hr-group remove-padding">
                
            </ion-row>
            <ion-row class="sticky-btn">                                     
            </ion-row>
        </ion-grid>
    </div>
</ion-content>