ion-card{
    margin-inline: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.item-row{
    margin-bottom: 5px;
    background-color: var(--ion-color-light);
}
ion-card-content{
    padding: 10px;
}
.header-title-payment{
    background-color: var(--ion-color-light) ;
    color: var(--ion-color-primary-contrast);
    padding: 10px;
}
.btn-payment{
    background-color: var(--ion-color-primary) ;
    color: var(--ion-color-primary-contrast);
    padding: 10px;
}

.payment-methods {
    display: flex;
    align-items: center;
    align-content: center;
    cursor: pointer;

    ion-icon {
        transform: scale(1.2);
        margin: 0px 8px;
    }
}

.c-input {
    &[type="textarea"]{
        height: 8rem !important;
    }
}

.remove-padding {
    padding: 0px !important;
}

.remove-margin {
    margin-bottom: 0px !important;
}

.topQR {
    text-align: center;
    margin: 10px;
}

.topQR img {
    width: 90px;
    height: 90px;
    border: solid 1px #CCC;
}

.table-contain {
    .row {
        padding-right: 6px;
        background: var(--ion-color-tertiary-tint);
    }
    .col-id {
        max-width: 25px !important;
        min-width: 25px !important;
    }
    .col-code {
        max-width: 160px !important;
        min-width: 160px !important;
    }
    .col-type {
        max-width: 90px !important;
        min-width: 90px !important;
    }
    .col-money {
        max-width: 115px !important;
        min-width: 115px !important;
        color: var(--ion-color-primary);
    }
    .col-status {
        white-space: break-spaces;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 80px;
        max-width: 80px;
    }  
}

.header-box {
    .header-name {
        .total {
            .c-control {
                margin-bottom: 7px;
            }

            .c-input {
                text-align: right;
                color: var(--ion-color-primary);
            }

            .c-control .c-label {
                position: absolute;
                line-height: 3.8rem;
                margin-left: 9px;
                width: auto;
            }
        }
    }
}
.sticky-btn {
    position: sticky;
    bottom: -20px;
    z-index: 20;
    background-color: var(--ion-background-color);
}

.col-del {
    width: 35px;
}