
ion-content{
    --padding-start: var(--ion-padding, 0);
    --padding-end: var(--ion-padding, 0);
    --padding-top: var(--ion-padding, 0);
    --padding-bottom: var(--ion-padding, 0);

    --background: white !important;
}
ion-toolbar{display: none !important}
.slide-holder{
    margin: auto;
    max-width: 500px;
    height: 100%;
    padding: 20px;
    background-color: white;
}
.sticky-btn {
    position: sticky;
    bottom: 0;
    z-index: 20;
    // background-color: var(--ion-background-color);
}

.branch-logo{
    transform: scale(0.6);
    position: absolute;
    width: 130px;
    left: 50%;
    margin-left: -60px;
    z-index: 12;
    top: 30px;
}

ion-slides {

    height: 90%;

    ion-slide {
        min-width: 100%;
        background-color: white;

        .slide-view {
            display: flex;
            flex-direction: column;

            .splash {
                height: 60%;
                background: none;
            }

            .content {
                height: 40%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                vertical-align: middle;
                text-align: center;

                .header {
                    color: var(--ion-color-primary);
                    padding: 10px 30px;
                }

                .remark {
                    font-size: 70%;
                    padding: 10px 30px;
                }
            }
        }
    }
}

@media screen and (max-width: calc(375px)) {
    .branch-logo{
        width: 90px;
        margin-left: -40px;
    }
    ion-slides {

        .splash{
            img{
                width: 75%;
            }
        }

    }
}