<ion-content appScrollbarTheme class="ion-padding">
	<!-- <img class="logo" (src)="currentBranch.LogoURL" (title)="currentBranch.Name" (error)="$event.src='assets/logos/logo-the-log-hine-wine.png'"> -->
	<!-- <img class="branch-logo" src="assets/logos/logo-the-log-hine-wine.png" title="The Log - Hide and Wine"> -->
	<!-- <img class="branch-logo" src="{{currentBranch?.LogoURL}}" title="{{currentBranch?.ShortName}}"> -->
	<div class="slide-holder">
		<!-- Scanning Slides Tab -->
		<ion-slides pager="true" #slides [options]="slideOptsDefault" (ionSlidesDidLoad)="getSliders(slides)">
			<ion-slide *ngFor="let i of SlidingCard">
				<div class="slide-view">
					<div class="splash">
						<img [src]="i.Splash" #img>
					</div>
					<div class="content">
						<div class="header">
							<ion-text>{{i.Header}}</ion-text>
						</div>
						<div class="remark">
							{{i.Remark}}
						</div>
					</div>
				</div>
			</ion-slide>

		</ion-slides>

		<ion-row class="sticky-btn">
			<ion-col>
				<div class="c-control ion-text-center">
					<ion-button expand="block" (click)="closeWelcome()">Tôi đã hiểu</ion-button>
				</div>
			</ion-col>
		</ion-row>
	</div>
</ion-content>