<ion-content appScrollbarTheme class="ion-padding">
	<!-- <img class="logo" (src)="currentBranch.LogoURL" (title)="currentBranch.Name" (error)="$event.src='assets/logos/logo-the-log-hine-wine.png'"> -->
	<!-- <img class="branch-logo" src="assets/logos/logo-the-log-hine-wine.png" title="The Log - Hide and Wine"> -->
	<!-- <img class="branch-logo" src="{{currentBranch?.LogoURL}}" title="{{currentBranch?.ShortName}}"> -->
	<div class="slide-holder">
		<!-- Scanning Slides Tab -->
		<ion-slides pager="true" #slides [options]="slideOptsDefault" (ionSlidesDidLoad)="getSliders(slides)">
			<ion-slide *ngFor="let i of SlidingCard">
				<div class="slide-view">
					<div class="logo" *ngIf="i.Logo">
						<img [src]="i.Logo" #img>
					</div>
					<div class="splash" *ngIf="i.Splash">
						<img [src]="i.Splash" #img>
					</div>
					<div class="content">
						<div class="header">
							<ion-text>{{i.Header}}</ion-text>
						</div>
						<div class="remark">
							{{i.Remark}}
						</div>
						<div class="note" *ngIf="i.Note">
							<div>{{i.Note.Note1}}</div>
							<div>{{i.Note.Note2}}</div>
							<div>{{i.Note.Note3}}</div>
							<div>&#8205;</div>
							<div>{{i.Note.Note4}}</div>
							<div>{{i.Note.Note5}}</div>
						</div>
					</div>
				</div>
			</ion-slide>

		</ion-slides>

		<ion-row class="sticky-btn">
			<ion-col>
				<div class="c-control ion-text-center">
					<ion-button expand="block" (click)="closeWelcome()">{{'erp.app.pages.pos.pos-customer-welcome.understand' | translate}}</ion-button>
				</div>
			</ion-col>
		</ion-row>
	</div>

	<ion-modal [isOpen]="isLanguageModalOpen">
		<ng-template>
			<ion-content [fullscreen]="true" class="ion-padding" [scrollY]="false">
				<div class="ion-padding" class="customer-message">
					<div class="logo-wrapper">
						<img class="branch-logo" src="{{currentBranch?.LogoURL}}" title="{{currentBranch?.ShortName}}">
					</div>
					<div>
						<ion-text color="warning">
							<h1>{{'erp.app.pages.pos.pos-customer-order.choose-language' | translate}}</h1>
						</ion-text>

						<div class="flag-container">
							<div class="flag-wrapper" [ngClass]="{'selectedLang': translate.currentLang == 'en-US'}" (click)="changeLanguage('en-US')">
								ENG
							</div>
	
							<div class="flag-wrapper" [ngClass]="{'selectedLang': translate.currentLang == 'vi-VN'}" (click)="changeLanguage('vi-VN')">
								VIE
							</div>
						</div>

						<div class="ion-padding">
							<ion-button expand="block" (click)="isLanguageModalOpen = false">{{'erp.app.pages.pos.pos-customer-order.agree' | translate}}</ion-button>
						</div>
					</div>
				</div>

			</ion-content>
		</ng-template>
	</ion-modal>
</ion-content>