<ion-header>
	<ion-toolbar color="primary">
		<ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
			<ion-segment-button value="s1">
				<ion-label>{{'erp.app.pages.sale.sale-order.split.split-order' | translate}}</ion-label>
			</ion-segment-button>
			<ion-segment-button value="s2">
				<ion-label>{{'erp.app.pages.sale.sale-order.split.detail' | translate}}</ion-label>
			</ion-segment-button>
		</ion-segment>
		<ion-buttons slot="end">
			<ion-button (click)="addSplitedOrder()">
				<ion-icon class="min-btn" title="{{'erp.app.pages.sale.sale-order.split.add' | translate}}" name="add-circle-outline"></ion-icon>
			</ion-button>
			<ion-button title="{{'erp.app.pages.sale.sale-order.split.help' | translate}}" (click)="help()">
				<ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
			</ion-button>
			<ion-button title="{{'erp.app.pages.sale.sale-order.split.close-modal' | translate}}" (click)="closeModalView();">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme class="ion-padding">
	<div id="pos-split-page" style="position: absolute;"></div>

	<div class="main-view" *ngIf="segmentView == 's1'">

		<ion-grid *ngIf="item" fixed style="max-width: 500px;">

			<ion-row style="border: none;" *ngFor="let o of item.SplitedOrders; let idx = index;">
				<ion-col size="11" *ngIf="o.isFirst">
					<div class="c-control">
						<label class="c-label" for="IDContact0">
							{{'erp.app.pages.sale.sale-order.split.idcontact' | translate}} #{{idx+1}}
						</label>

						<ng-select [(ngModel)]="o.IDContact" appendTo="#pos-split-page" class="c-input" #IDContact0 labelForId="IDContact0" [items]="contactList$ | async" [typeahead]="contactListInput$" [loading]='contactListLoading' [virtualScroll]="true" bindLabel="Name" bindValue="Id" placeholder="{{'erp.app.pages.sale.sale-order.split.placeholder-idcontact' | translate}}">
							<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
								<div *ngIf="i">
									<div>
										<span>{{i.Name}}</span>
										<span *ngIf="i.WorkPhone"> | <small> <b>{{i.WorkPhone}}</b></small></span>
									</div>
									<small>#<b><span class="important">{{i.Id}} - {{i.Code}}</span></b> <span *ngIf="i.AddressLine1"> | {{i.AddressLine1}}</span></small>
								</div>
							</ng-template>
						</ng-select>
					</div>
				</ion-col>
				<ion-col size="11" *ngIf="o.isFirst">
					<div class="c-control">
						<label class="c-label" for="IDtable0">
							{{'erp.app.pages.pos.pos-order.split.idtable' | translate}} #{{idx+1}}
						</label>

						<ng-select [(ngModel)]="o.IDTable" appendTo="#pos-split-page" class="c-input" #IDTable0 labelForId="IDtable0" [items]="tables" bindLabel="Name" bindValue="Id" placeholder="{{'erp.app.pages.pos.pos-order.split.placeholder-idtable' | translate}}">
							<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
								<div *ngIf="i">
									<div>
										<!-- <span>{{i.Id}}</span>
                                        <span *ngIf="i.Name"> | <small> <b>{{i.Name}}</b></small></span> -->

										<span>{{i.Name}}</span>
									</div>
								</div>
							</ng-template>
						</ng-select>
					</div>
				</ion-col>

				<ion-col size="11" *ngIf="!o.isFirst">
					<div class="c-control">
						<label class="c-label" for="IDContact">
							{{'erp.app.pages.sale.sale-order.split.idcontact' | translate}} #{{idx+1}}
						</label>

						<ng-select [(ngModel)]="o.IDContact" appendTo="#pos-split-page" class="c-input" (change)="changedIDContact($event, o)" #IDContact labelForId="IDContact" [items]="contactList$ | async" [typeahead]="contactListInput$" [loading]='contactListLoading' [virtualScroll]="true" bindLabel="Name" bindValue="Id" placeholder="{{'erp.app.pages.sale.sale-order.split.placeholder-idcontact' | translate}}">
							<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
								<div *ngIf="i">
									<div>
										<span>{{i.Name}}</span>
										<span *ngIf="i.WorkPhone"> | <small> <b>{{i.WorkPhone}}</b></small></span>
									</div>
									<small>#<b><span class="important">{{i.Id}} - {{i.Code}}</span></b> <span *ngIf="i.AddressLine1"> | {{i.AddressLine1}}</span></small>
								</div>
							</ng-template>
						</ng-select>
					</div>
				</ion-col>
				<ion-col size="1" *ngIf="!o.isFirst">
					<ion-button class="ion-float-right" style="margin-top: 2.8rem;" size="small" fill="clear" color="danger" (click)="removeSplitedOrder(o)">
						<ion-icon slot="icon-only" name="trash-outline"></ion-icon>
					</ion-button>
				</ion-col>
				<ion-col size="11" *ngIf="!o.isFirst">
					<div class="c-control">
						<label class="c-label" for="IDtable">
							{{'erp.app.pages.pos.pos-order.split.idtable' | translate}} #{{idx+1}}
						</label>

						<ng-select [(ngModel)]="o.IDTable" appendTo="#pos-split-page" class="c-input" (change)="changedIDTable($event, o)" #IDTable labelForId="IDtable" [items]="tables" bindLabel="Name" bindValue="Id" placeholder="{{'erp.app.pages.pos.pos-order.split.placeholder-idtable' | translate}}">
							<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
								<div *ngIf="i">
									<div>
										<!-- <span>{{i.Id}}</span>
                                        <span *ngIf="i.Name"> | <small> <b>{{i.Name}}</b></small></span> -->

										<span>{{i.Name}}</span>
									</div>
								</div>
							</ng-template>
						</ng-select>
					</div>
				</ion-col>
			</ion-row>

			<ion-row class="hr-group">
				<ion-col size="11">
					<div class="c-control ion-text-right">
						<ion-button (click)="addSplitedOrder()">
							{{'erp.app.pages.pos.pos-order.split.add-splited-bill' | translate}}
						</ion-button>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>



	</div>

	<div class="main-view" *ngIf="segmentView != 's1'">
		<div class="row-full shadow full-screen">
			<div style="min-height: calc(90vh - 80px);">
				<div class="table-contain">
					<section class="table">
						<div class="col-name cell">
							<div style=" min-width: 100%; max-width: 100%;">
								<table style="max-width: 100%; min-width: 100%;">
									<tr>
										<td style=" min-width: 480px !important; max-width: 480px !important"></td>
										<td style="padding-left: 5px !important;" class="UoM col-total c-control" *ngFor="let o of generateUniqueNames(item.SplitedOrders); let jdx = index;">
											<input [disabled]="true" class="c-input" [ngModel]="o" (ngModelChange)="item.SplitedOrders[jdx].TableName = $event">
										</td>
									</tr>

									<tr *ngFor="let i of items; let idx = index;">
										<td class="label">
											<ng-select [disabled]="true" [id]="'drl'+idx" class="c-input" appendTo="#pos-split-page" [(ngModel)]="i.IDItem" [labelForId]="'IDItem'+idx" [items]="itemList$ | async" [typeahead]="itemListInput$" [virtualScroll]="true" bindLabel="Name" bindValue="Id" placeholder="{{'erp.app.pages.sale.sale-order.split.placeholder-iditem' | translate}}">
												<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
													<div *ngIf="i">
														<div><span>{{i.Name}}</span></div>
														<small>#<b><span class="important">{{i.Id}} - {{i.Code}}</span></b></small>
													</div>
												</ng-template>
											</ng-select>
										</td>
										<td style="padding-left: 5px !important;" class="UoM col-total c-control" *ngFor="let o of i.splitDetail; let jdx = index;">
											<input type="tel" (focus)="$event.target.select()" (blur)="changedCalc(i, o, 'Quantity')" class="c-input" [min]="i._UoM?i._UoM.MinQuantity:0" [max]="i._UoM?i._UoM.MaxQuantity:999999999999999999" mask="separator.0" thousandSeparator="," [(ngModel)]="o.Quantity" step="1" onkeydown="return event.keyCode !== 190">
										</td>
									</tr>
								</table>
							</div>
						</div>
					</section>
				</div>

				<div class="table-contain">
					<ion-button (click)="splitSaleOrder()" [disabled]="!isCanSplit || submitAttempt" style="max-width: 300px" class="ion-margin ion-float-right" size="block">
						{{'erp.app.pages.sale.sale-order.split.split-sale-order' | translate}}
					</ion-button>
				</div>
			</div>
		</div>
	</div>

</ion-content>
