<ion-header>
	<ion-toolbar>
		<ion-title>
			In holdings
		</ion-title>
		<ion-buttons slot="primary">
			<ion-button (click)="dismiss()" title="{{'erp.app.pages.sale.sale-order.merge.close-modal' | translate}}" color="medium">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
	<div style="text-align: center;background-color:#ffffff;min-height: calc(100vh - 110px);">
		<img style="max-width: 30%;" class="branch-logo" src="{{currentBranch?.LogoURL}}" title="{{currentBranch?.ShortName}}">
		<h1  style="text-transform: capitalize;">{{ title }}</h1>
		<p style="padding-left: 15px;padding-right: 15px;">Cảm ơn bạn đã chọn chúng tôi. Hy vọng bạn sẽ có trải nghiệm
			tuyệt vời khi sử dụng sản phẩm/dịch vụ của chúng tôi. Rất mong sẽ tiếp tục nhận được sự ủng hộ của bạn trong
			thời gian tới.</p>
		<p>Nếu có thắc mắc xin liên hệ:</p>
		<p>Số điện thoại: <strong>{{ currentBranch?.Phone }}</strong></p>
	</div>
</ion-content>
<!-- <ion-footer>
	<ion-toolbar>
		<ion-button  (click)="dismiss()"  expand="block">OK</ion-button>
	</ion-toolbar>
</ion-footer> -->



