<ion-header>
	<app-detail-toolbar [page]="this">
		<ion-searchbar class="search-box" (ionFocus)="segmentChanged('all')" (ionChange)="search($event)" placeholder="{{'erp.app.pages.pos.pos-order.menu-placeholder' | translate}}"></ion-searchbar>
		<ion-button class="cart" title="{{'erp.app.pages.pos.pos-order.cart-placeholder' | translate}}" [ngClass]="{'blink': (printData.undeliveredItems?.length > 0) && pageConfig.canEdit}" (click)="pageConfig.isShowFeature = !pageConfig.isShowFeature;">
			<ion-icon slot="icon-only" name="cart-outline"></ion-icon>
			<span *ngIf="item?._TotalQuantity">{{item._TotalQuantity}}</span>
		</ion-button>
	</app-detail-toolbar>
</ion-header>

<ion-content appScrollbarTheme appPrintFix class="table-list print-size-72" [ngClass]="{withFeature: pageConfig.isShowFeature}">
	<!-- list Item -->
	<ion-fab *ngIf="pageConfig.isShowFeature && item" class="feature no-print" vertical="top" horizontal="end" slot="fixed">
		<div id="pos-order-detail-page" style="position: absolute; z-index: 2;"></div>
		<form [formGroup]="formGroup" class="c-content" style="min-height: calc(100vh - 200px);">
			<!-- Dishes -->
			<div class="box" *ngIf="item?.OrderLines?.length">
				<div style="padding: 0px 16px !important;">
					<div class="box-content" formArrayName="OrderLines">
						<ng-container *ngFor="let g of formGroup.get('OrderLines')['controls']; let idx = index;">
							<div class="od" [formGroup]="g" *ngIf="item.OrderLines[idx] as line">
								<div style="display: flex;">									
									<div class="od-image clickable" [ngStyle]=" line._background " (click)="jumpToItem(line)"></div>
									<div class="od-info" *ngIf="line._item">
										<div class="od-name"><small class="od-id">#{{line._item.Id}}</small> {{line._item.Name}}</div>
										<div class="od-price">
											<span>{{line.UoMPrice | number: '1.0-0'}} <small *ngIf="line.TaxRate">+{{line.TaxRate}}% {{'erp.app.pages.pos.pos-order.vat' | translate}}</small></span>
										</div>
									</div>
								</div>

								<div class="od-quantity">
									
									<ion-button fill="outline" [disabled]="submitAttempt || line._Locked " class="ion-float-right qty-btn" size="small" (click)="addToCart(line._item, line.IDUoM, +1); line._isShowFoC = false;">
										<ion-icon slot="icon-only" name="add"></ion-icon>
									</ion-button>
									<ion-button fill="outline" [disabled]="submitAttempt || line._Locked " class="ion-float-right qty-btn" size="small" (click)="addToCart(line._item,line.IDUoM, -1); line._isShowFoC = false;">
										<ion-icon slot="icon-only" name="remove"></ion-icon>
									</ion-button>
									<ion-button title='Thêm ghi chú món ăn' fill="clear" color="warning" class="ion-float-right ion-no-padding remark-btn" size="small" (click)="line._isShowNote =! line._isShowNote; line._isShowFoC = false">
										<ion-icon slot="icon-only" [name]="((line.Remark?.length != 0) && (line.Remark != null))?'clipboard':'clipboard-outline'"></ion-icon>
									</ion-button>
									<!-- <ion-icon name="pricetags-outline"></ion-icon> -->
									<ion-button title='Giảm giá từ chăm sóc khách hàng' fill="clear"  color="primary" class="gift ion-no-padding" size="small" (click)="line._isShowFoC =! line._isShowFoC; line._isShowNote = false">														
										<ion-icon [name]="(line.OriginalDiscountFromSalesman > 0)? 'person':'person-outline'"></ion-icon> <sup><ion-icon name="pricetags"></ion-icon></sup>
									</ion-button>
									<span class="quantity">
										<small>x</small>
										<ion-text color="dark">
											{{line.Quantity}}
										</ion-text>
										<span class="uom" *ngIf="line.UoMName">({{line.UoMName}})</span>
									</span>
								</div>
								
								<div class="od-remark clickable" (click)="openQuickMemo(line)">
									<textarea class="clickable" cols="30" rows="10" formControlName="Remark" *ngIf="line._isShowNote" spellcheck="false" placeholder="Thêm ghi chú cho món"></textarea>							
								</div>
								<div class="c-control ion-margin-top" *ngIf="line._isShowFoC">
									<span disabled class="c-input ion-margin-bottom"><span class="ion-float-left">Tổng tiền SP</span> <span class="ion-float-right">{{line.CalcTotalOriginal | number: '1.0-0'}} đ</span> </span>
									<span class="c-input ion-margin-bottom">
										<span class="ion-float-left">Số tiền giảm</span>
										<input style="text-align: right; border: none; outline: none; width: 130px;" class="ion-float-right" mask="separator.2"  thousandSeparator="," [allowNegativeNumbers]="false" suffix=" ₫" [disabled]="submitAttempt || line._Locked " (change)="discountFromSalesman(line,g)" formControlName="OriginalDiscountFromSalesman"  placeholder="Số tiền tặng"/>
									</span>
																															
								</div>
							</div>
						</ng-container>
					</div>
				</div>
			</div>
			<div class="box ion-padding" *ngIf="item?.OrderLines?.length > 0 ">				
				<div class="box-content">
					<div class="check-out">
						<label class="c-label ion-text-center"><b>Voucher giảm giá</b></label>
						<ion-card *ngIf="item.OriginalDiscount1 > 0">
							<ion-item lines="none">
								<img slot="start" height="20px" width="20px" src="/assets/icons/icon-72x72.png"/>
								
								<ion-label>Giảm {{item.OriginalDiscount1 | number: '1.0-0'}} đ</ion-label>								
							</ion-item>
						</ion-card>
						<label class="c-label clickable ion-text-center" *ngIf="pageConfig.canEdit" (click)="processVouchers()">							
							<ion-text color="primary" >Chọn hoặc nhập mã Voucher</ion-text> 						
						</label>					
					</div>
				</div>
			</div>
			<div class="box ion-padding">

				<div class="box-content">

					<div class="check-out">
						<label class="c-label">Tiền hàng
							<span class="c-value">
								{{item.OriginalTotalBeforeDiscount | number: '1.0-0'}}
							</span>
						</label>
						<label class="c-label clickable" *ngIf="pageConfig.canEdit" (click)="processDiscounts()">Chiết khấu <ion-icon name="open-outline"></ion-icon>
							<span class="c-value">
								{{item.OriginalTotalDiscount | number: '1.0-0'}}
							</span>

						</label>
						<label class="c-label" *ngIf="!pageConfig.canEdit">Chiết khấu
							<span class="c-value">
								{{item.OriginalTotalDiscount | number: '1.0-0'}}
							</span>
						</label>
						<label class="c-label">VAT
							<span class="c-value">{{item.OriginalTax | number: '1.0-0'}}</span>
						</label>

						<label class="c-label" *ngIf="item.CalcOriginalTotalAdditions">Service charge <i class="info-tooltip" title="Phí dịch vụ theo từng item có thể khác nhau."></i>
							<span class="c-value">{{item.CalcOriginalTotalAdditions | number: '1.0-0'}}</span>
						</label>
						<label class="c-label" *ngIf="item.OriginalDiscountFromSalesman > 0">Giảm giá từ CSKH <i class="info-tooltip" title="Số tiền CSKH giảm cho khách"></i>
							<span class="c-value">{{item.OriginalDiscountFromSalesman | number: '1.0-0'}}</span>
						</label>
						<label class="c-label total" >Tổng tiền
							<ion-text class="c-value total" [color]="item.OriginalTotalAfterTax >= 20000000? 'danger' : 'primary'">
								{{item.CalcTotalOriginal - item.OriginalDiscountFromSalesman | number: '1.0-0'}}
							</ion-text> 
						</label>

						<span class="c-label" style="margin-top: 15px;" *ngIf="item?.OrderLines?.length > 0">
							<label class="InvoiceOptions">
								<input class="c-checkbox" (click)="InvoiceRequired()" [(ngModel)]="this.item.IsInvoiceRequired" [ngModelOptions]="{standalone: true}" type="checkbox">
								<ion-icon  color="primary" name="receipt"></ion-icon>
								<ion-label  [ngStyle]="{'font-weight': this.item.IsInvoiceRequired ? 'bold' : 'normal'}" [color]="this.item.IsInvoiceRequired ? 'primary' : 'medium'">
									Xuất hóa đơn?
								</ion-label>
									
							</label>
																	
						</span>				
					</div>
				</div>
			</div>

			<!-- Contact -->
			<div class="box header-box ion-padding">
				<div class="header-name">
					<div class="bill-for">
						<span *ngIf="item?.OrderDate">{{item.OrderDate | date: 'HH:mm dd/MM'}} </span>
						<span *ngIf="!item?.Tables?.length">Vui lòng chọn bàn trước</span>
						<span *ngIf="item?.Tables?.length && !item?.OrderLines?.length">Vui lòng chọn món</span>
					</div>
					<div class="total">
						<div class="c-control">
							<div class="text-right">
								<ion-button expand="block" [disabled]="submitAttempt" *ngIf="pageConfig.canEdit && pageConfig.canAddCustomer" style="margin-top: 5px; margin-bottom: 9px;"  size="small" (click)="addContact()">
									<ion-icon slot="start" name="add-circle-outline"></ion-icon>
									{{'erp.app.pages.pos.pos-order.add-contact' | translate}}
								</ion-button>
							</div>
							<ng-select appendTo="#pos-order-detail-page" style="text-align: left;" class="c-input" (change)="changedIDAddress($event)" #IDAddress labelForId="IDAddress" formControlName="IDAddress" [items]="contactList$ | async" [clearable]="false" [typeahead]="contactListInput$" [loading]='contactListLoading' [virtualScroll]="true" bindLabel="Name" bindValue="IDAddress" placeholder="{{'erp.app.pages.pos.pos-order.idaddress-placeholder' | translate}}">								
								<ng-template ng-label-tmp let-i="item" let-a="item.Address">
									{{i.Name}}
									<small *ngIf="a">
										<span *ngIf="a.AddressLine1"> | {{a.AddressLine1}}</span>
										<span *ngIf="a.Ward">, {{a.Ward}}</span>
										<span *ngIf="a.District">, {{a.District}}</span>
										<span *ngIf="a.Province">, {{a.Province}}</span>
									</small>
								</ng-template>
								<ng-template ng-option-tmp let-i="item" let-a="item.Address" let-search="searchTerm">
									<div *ngIf="i">
										<div>											
											<span [ngOptionHighlight]="search">{{i.Name}}</span>
											<span *ngIf="i.WorkPhone"> | <small> <b [ngOptionHighlight]="search">{{i.WorkPhone}}</b> </small></span>
										</div>
										<small *ngIf="a">
											<b *ngIf="i.Code"><span class="important" [ngOptionHighlight]="search">{{i.Code}}</span></b>
											<span *ngIf="a.AddressLine1"> | {{a.AddressLine1}}</span>
											<span *ngIf="a.Ward">, {{a.Ward}}</span>
											<span *ngIf="a.District">, {{a.District}}</span>
											<span *ngIf="a.Province">, {{a.Province}}</span>
											<br *ngIf="a.AddressLine2 || a.Contact">
											<span *ngIf="a.AddressLine2">{{a.AddressLine2}}</span>
											<span *ngIf="a.Contact"> | {{'erp.app.pages.pos.pos-order.contact' | translate}}: {{a.Contact}}</span>
											<span *ngIf="a.Phone1"> - {{a.Phone1}}</span>
											<span *ngIf="a.Phone2"> - {{a.Phone2}}</span>
										</small>
									</div>
								</ng-template>
							</ng-select>
							
						</div>
						<div class="c-control">
							<input style="text-align: left; min-height: 3.8rem; height: auto;" class="c-input no-check-dirty" formControlName="NumberOfGuests" (change)="saveChange();" placeholder="Số khách"/>							
						</div>
						<div class="c-control">
							<ng-select appendTo="#pos-order-detail-page" style="text-align: left; min-height: 3.8rem; height: auto;" class="c-input no-check-dirty" formControlName="Tables" (change)="changeTable();" [multiple]="true" [closeOnSelect]="false" [items]="tableList" bindLabel="Name" bindValue="Id" placeholder="{{'erp.app.pages.pos.pos-order.table-placeholder' | translate}}">
								<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
									<div *ngIf="i">
										<div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
									</div>
								</ng-template>
							</ng-select>
						</div>

						<div class="c-control">
							<ng-select appendTo="#pos-order-detail-page" style="text-align: left; min-height: 3.8rem; height: auto;" class="c-input no-check-dirty" formControlName="Status" labelForId="Status" [multiple]="false" [clearable]="false" [items]="statusList" bindLabel="Name" bindValue="Code" placeholder="Trạng thái...">
								<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
									<div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
								</ng-template>
							</ng-select>
						</div>

						<div class="c-control" *ngIf="item?.Id && pageConfig.canEdit">
							<label for=""></label>
							<ion-button size="small" color="danger" expand="block" fill="outline" (click)="cancelPOSOrder();" [disabled]="submitAttempt">
								{{'erp.app.pages.pos.pos-order.cancel' | translate}}
							</ion-button>
						</div>

					</div>
				</div>
			</div>
		</form>

		<div *ngIf="item?.OrderLines?.length > 0" class="functions-list">
			<ion-grid fixed>
				<ion-row *ngIf="item" style="flex-wrap: nowrap;">
					<ion-col *ngIf="pageConfig.canEdit">
						<ion-button [color]="printData.undeliveredItems?.length == 0 ? 'medium' : 'danger' " [ngClass]="{'blink': printData.undeliveredItems?.length != 0}" fill="outline" expand="block" (click)="sendKitchen()" [disabled]="submitAttempt || printData.undeliveredItems?.length == 0">
							Chuyển BAR/KIT
						</ion-button>
					</ion-col>
					<ion-col>
						<ion-button color="medium" fill="outline" expand="block" (click)="sendPrint();" [disabled]="submitAttempt">
							In đơn
						</ion-button>
					</ion-col>
				</ion-row>
				<!-- <ion-row *ngIf="item && pageConfig.canEdit" style="flex-wrap: nowrap;">
					<ion-col>
						<ion-button color="medium" fill="outline" expand="block" size="small" (click)="processDiscounts()" [disabled]="submitAttempt">
							Discount
						</ion-button>
					</ion-col>
				</ion-row> -->

				<ion-row *ngIf="item" style="flex-wrap: nowrap;">
					<ion-col>
						<ion-button expand="block" (click)="processPayments()" [disabled]="submitAttempt">
							<ion-text *ngIf="pageConfig.canEdit">Thanh toán</ion-text>
							<ion-text *ngIf="!pageConfig.canEdit">Xem chi tiết</ion-text>
						</ion-button>
					</ion-col>
				</ion-row>


			</ion-grid>
		</div>
	</ion-fab>

	<!-- Menu Group -->
	<div class="no-print menu-holder">
		<div class="menu-group-list">
			<div class="menu-group" (click)="segmentChanged('all')">
				<ion-img #img [src]="AllSegmentImage" (ionError)="img.src = 'assets/pos-icons/POS-Item-demo.png'" [ngClass]="{selected: segmentView=='all'}"></ion-img>
				<ion-label>tất cả</ion-label>
			</div>
			<div class="menu-group" *ngFor="let g of menuList" (click)="segmentChanged(g.Id)">
				<ion-img #img [src]="g.menuImage" (ionError)="img.src = 'assets/pos-icons/POS-Item-demo.png'" [ngClass]="{selected: segmentView==g.Id}"></ion-img>
				<ion-label>{{g.Name}}</ion-label>
			</div>
		</div>
	</div>

	<!-- View MenuList -->
	<div class="no-print">
		<ion-grid fixed *ngIf="menuList?.length">
			<ng-container *ngFor="let g of menuList | filter:{Id:segmentView}">
				<ng-container *ngIf="g.Items?.length">

					<ion-row class="table-holder" *ngIf="(g.Items | searchNoAccent:{SearchName:query.Keyword}).length">

						<ion-col class="group-title" size="12" size-sm="12" size-md="12" size-xl="12">
							<ion-list-header class="ion-no-padding">
								<ion-label color="primary">{{g.Name}}</ion-label>
							</ion-list-header>
						</ion-col>

						<ion-col class="shadow table-item" [ngClass]="{'in-serve': i.BookedQuantity }" *ngFor="let i of g.Items | searchNoAccent:{SearchName:query.Keyword}">
							<span class="tag right" *ngIf="i.BookedQuantity">
								<ion-text class="tag-content" color="danger">
									{{i.BookedQuantity}}
								</ion-text>
							</span>
							<div class="card" [id]="'item'+i.Id">

								<ion-img class="item-image clickable" (click)="addToCart(i, i.UoMs[0].Id)" [title]="i.Name" #img [src]="i.imgPath" (ionError)="img.src = 'assets/pos-icons/POS-Item-demo.png'"></ion-img>
								<span class="table-name clickable" (click)="addToCart(i, i.UoMs[0].Id)">{{i.Name}}</span>
								<ng-container *ngFor="let u of i.UoMs">
									

									<a *ngIf="u.PriceList.length" class="price clickable" (click)="addToCart(i, u.Id)">
										<span class="price-list" *ngFor="let p of u.PriceList">
											<span *ngIf="!p.NewPrice">											
												{{p.Price | number: '1.0-0'}}/{{u.Name}}
											</span>
											<span *ngIf="p.NewPrice">	
												{{p.NewPrice | number: '1.0-0'}}/{{u.Name}}																																		
												<small class="old-price">{{p.Price | number: '1.0-0'}}</small> -{{(p.Price - p.NewPrice)/p.Price * 100  | number: '1.0-0'}}%
												
											</span>																																	
										</span>											
									</a>						
								</ng-container>

							</div>
						</ion-col>

					</ion-row>
				</ng-container>
			</ng-container>
		</ion-grid>
		<app-page-message [itemsLength]="menuList.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>
	</div>

	<!-- Bill Printing -->
	<div id="bill" class="bill" style="overflow: auto; width: 72mm;" *ngIf="item?.OrderLines?.length">
		<div class="receipt giao-nhan" style="overflow: auto;">
			<section class="sheet rpt p1">
				<table>
					<thead>
						<tr>
							<td>
								<div class="page-header-space"></div>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>

								<div>
									<div class="header">
										<span class="logo"><img [src]="printData.currentBranch?.LogoURL || 'assets/logo/logo-in-holdings.png'" (error)="$event.src='assets/logos/logo-the-log.png'"></span>
										<span class="brand">{{printData.currentBranch?.ShortName || 'ShortName'}}</span>
										<span class="address">{{printData.currentBranch?.Address || 'Address'}}</span>
										<span class="phone">{{printData.currentBranch?.Phone || 'Phone'}}</span>

										<ng-container *ngIf="pageConfig.canEdit">
											<span class="brand">[ ORDER ]</span>
											<span>({{'erp.app.pages.pos.pos-order.bill-no' | translate}}: {{id}})</span>
										</ng-container>
										<ng-container *ngIf="!pageConfig.canEdit">
											<span class="brand">[ RECEIPT ]</span>
											<span>(Receipt No.: {{id}})</span>
										</ng-container>

									</div>
									<div class="table-info">
										<table>
											<tr>
												<td class="title">{{'erp.app.pages.pos.pos-order.table' | translate}}</td>
												<td><span *ngFor="let t of printData.selectedTables">{{t.Name}}; </span></td>
											</tr>
											<tr>
												<td class="title">{{'erp.app.pages.pos.pos-order.date' | translate}}</td>
												<td>{{item.OrderDate | date: 'HH:mm dd/MM'}}</td>
											</tr>
											<tr *ngIf="kitchenQuery=='all'">
												<td class="title">{{'erp.app.pages.pos.pos-order.customer' | translate}}</td>
												<td>{{item._Customer?.Name}}

												</td>
											</tr>
											<tr *ngIf="kitchenQuery!='all'">
												<td class="title">{{'erp.app.pages.pos.pos-order.send-to' | translate}}</td>
												<td><span *ngFor="let k of kitchenList | filter:{Id: kitchenQuery}">{{k.Name}}</span></td>
											</tr>
										</table>
									</div>
									<div class="items" *ngIf="kitchenQuery=='all'">
										<table>
											<tr class="bold">
												<td>{{'erp.app.pages.pos.pos-order.item' | translate}}</td>
												<td class="text-right">Discount</td>
												<td class="text-right">{{'erp.app.pages.pos.pos-order.amount' | translate}}</td>
											</tr>
											<ng-container *ngFor="let o of item.OrderLines | filter:{'_IDKitchen': kitchenQuery}">
												<tr>
													<td colspan="3" class="name">
														<div>{{o._item?.Name}}</div>
													</td>
												</tr>
												<tr>
													<td>
														<div>
															<span class="od-price">{{o.UoMPrice | number: '1.0-0'}} </span> x <span class="quantity"> {{o.Quantity}}</span>
														</div>
													</td>
													<td class="total"><span>{{o.OriginalTotalDiscount | number: '1.0-0'}}</span></td>
													<td class="total"><span>{{o.OriginalTotalBeforeDiscount | number: '1.0-0'}}</span></td>
												</tr>
											</ng-container>
										</table>
									</div>
									<div class="items" *ngIf="kitchenQuery!='all'">
										<table>
											<tr class="bold">
												<td>{{'erp.app.pages.pos.pos-order.item' | translate}}</td>
												<td class="total">{{'erp.app.pages.pos.pos-order.quantity' | translate}}</td>
											</tr>
											<ng-container *ngFor="let o of item.OrderLines ; let idx = index">
												<ng-container *ngIf="o._undeliveredQuantity > 0">
													<tr>
														<td>
															{{idx + 1}}. <span>{{o._item?.Name}}</span>
														</td>
														<td class="total"><span class="bold quantity">{{o._undeliveredQuantity}}</span> </td>
													</tr>
													<tr *ngIf="o.Remark">
														<td colspan="2">
															Note: {{o.Remark}}
														</td>
													</tr>
												</ng-container>
											</ng-container>
										</table>
									</div>
									<div style="border-bottom: none;" class="table-info" *ngIf="kitchenQuery!='all'">
										<table>
											<tr>
												<td class="title">{{'erp.app.pages.pos.pos-order.print-date' | translate}}</td>
												<td class="text-right"><span>{{printData.printDate}}</span></td>
											</tr>
										</table>
									</div>

									<ng-container *ngIf="kitchenQuery=='all'">
										<div class="table-info-top">
											<table>
												<tr>
													<td class="title">{{'erp.app.pages.pos.pos-order.total-before-discount' | translate}}</td>
													<td class="text-right"><span>{{item.OriginalTotalBeforeDiscount | number: '1.0-0'}}</span></td>
												</tr>
												<tr>
													<td class="title">Discount</td>
													<td class="text-right"><span>{{item.OriginalTotalDiscount | number: '1.0-0'}}</span></td>
												</tr>
												<tr>
													<td class="title">{{'erp.app.pages.pos.pos-order.tax' | translate}}</td>
													<td class="text-right"><span>{{item.OriginalTax | number: '1.0-0'}}</span></td>
												</tr>
												<tr>
													<td class="title">Service Charge</td>
													<td class="text-right"><span>{{item.CalcOriginalTotalAdditions | number: '1.0-0'}}</span></td>
												</tr>
												<tr *ngIf="item.OriginalDiscountFromSalesman>0">
													<td class="title">{{'erp.app.pages.pos.pos-order.total-discount-from-saleman' | translate}}</td>
													<td class="text-right"><span>{{item.OriginalDiscountFromSalesman | number: '1.0-0'}}</span></td>
												</tr>
												<tr>
													<td class="title bold">{{'erp.app.pages.pos.pos-order.total-after-tax' | translate}}</td>
													<td class="text-right bold"><span>{{item.CalcTotalOriginal - item.OriginalDiscountFromSalesman | number: '1.0-0'}}</span></td>
												</tr>
											</table>
										</div>
										<div class="message">
											<div><small>{{'erp.app.pages.pos.pos-order.bill-info' | translate}}</small></div>
											<div><small>This bill is valid within day</small></div>
											<div class="ion-text-uppercase">
												{{'erp.app.pages.pos.pos-order.see-you' | translate}}
											</div>										
										</div>
									</ng-container>
								</div>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td>
								<div class="page-footer-space">.</div>
							</td>
						</tr>
					</tfoot>
				</table>
			</section>
		</div>
	</div>
</ion-content>
