<ion-header>
	<app-detail-toolbar [page]="this">
		<ion-button color="primary" startTitle *ngIf="printData.selectedTables.length" class="ion-hide-sm-down">
			Bàn: <span *ngFor="let t of printData.selectedTables">&nbsp;{{t.Name}} </span>
		</ion-button>

		<ion-searchbar class="search-box" (ionFocus)="segmentChanged('all')" (ionChange)="search($event)" placeholder="{{'Search menu' | translate}}"></ion-searchbar>

		<ion-button class="cart" title="{{'Cart' | translate}}" [ngClass]="{'blink': (printData.undeliveredItems?.length > 0) && pageConfig.canEdit}" (click)="pageConfig.isShowFeature = !pageConfig.isShowFeature;">
			<ion-icon slot="icon-only" name="cart-outline"></ion-icon>
			<span *ngIf="item?._TotalQuantity">{{item._TotalQuantity}}</span>
		</ion-button>
	</app-detail-toolbar>

</ion-header>

<ion-content appScrollbarTheme appPrintFix class="table-list print-size-72" [ngClass]="{withFeature: pageConfig.isShowFeature}">
	<!-- list Item -->
	<ion-fab *ngIf="pageConfig.isShowFeature && item" class="feature no-print" vertical="top" horizontal="end" slot="fixed">
		<div id="pos-order-detail-page" style="position: absolute; z-index: 2;"></div>
		<form [formGroup]="formGroup" class="c-content" style="min-height: calc(100vh - 180px);">
			<!-- Dishes -->
			<div class="box" *ngIf="item?.OrderLines?.length">
				<div style="padding: 0px 16px !important;">
					<div class="box-content" formArrayName="OrderLines">
						<ng-container *ngFor="let g of formGroup.get('OrderLines')['controls']; let idx = index;">
							<div class="od" [formGroup]="g" *ngIf="item.OrderLines[idx] as line">
								<div style="display: flex;">
									<div class="od-image clickable" [ngStyle]=" line._background " (click)="jumpToItem(line)"></div>
									<div class="od-info" *ngIf="line._item">
										<div class="od-name"><small class="od-id">#{{line._item.Id}}</small> {{line._item.Name}}</div>
										<div class="od-price">
											<span>{{line.UoMPrice | number: '1.0-0'}} <small *ngIf="line.TaxRate">+{{line.TaxRate}}% {{'VAT' | translate}} </small> <small *ngIf="line.UoMName"> /{{line.UoMName}}</small></span>
										</div>
										<div>
											<ion-text [color]="line?.StatusColor"><small>{{line?.StatusText}}</small></ion-text>
										</div>
									</div>
								</div>

								<div class="od-quantity">
									<ion-button title='Xóa bỏ sản phẩm này' fill="clear" [disabled]="submitAttempt || line._Locked " color="danger" class="ion-float-right ion-no-padding remark-btn" size="small" (click)="addToCart(line._item,line.IDUoM, -(line.Quantity), idx);">
										<ion-icon slot="icon-only" name="trash-outline"></ion-icon>
									</ion-button>
									<ion-button fill="outline" [disabled]="submitAttempt || line._Locked " class="ion-float-right qty-btn" size="small" (click)="addToCart(line._item, line.IDUoM, +1, idx); line._isShowFoC = false;">
										<ion-icon slot="icon-only" name="add"></ion-icon>
									</ion-button>
									<!-- <ion-button fill="outline" class="ion-float-right qty-btn qty-box" size="small" >
										{{line.Quantity}}
									</ion-button> -->
									<ion-button fill="outline" [disabled]="submitAttempt || line._Locked " class="ion-float-right qty-btn" size="small" (click)="addToCart(line._item,line.IDUoM, -1, idx); line._isShowFoC = false;">
										<ion-icon slot="icon-only" name="remove"></ion-icon>
									</ion-button>





									<ion-button title='Thêm ghi chú món ăn' fill="clear" color="warning" class="ion-float-right ion-no-padding remark-btn" size="small" (click)="openQuickMemo(line)">
										<ion-icon slot="icon-only" [name]="((line.Remark?.length != 0) && (line.Remark != null))?'chatbubble-ellipses':'chatbubble-outline'"></ion-icon>
									</ion-button>
									<span class="quantity">
										<small>x</small>
										<ion-text color="dark">
											{{line.Quantity}}
										</ion-text>
									</span>
								</div>

								<div class="od-remark " style="position: relative;" *ngIf="(line._isShowNote || line.Remark != null)">
									<div class="clickable fullfill" (click)="openQuickMemo(line)"></div>
									<textarea cols="30" rows="10" formControlName="Remark" spellcheck="false" placeholder="{{'Memo...'|translate}}"></textarea>
								</div>
								<div class="c-control ion-margin-top" *ngIf="line._isShowFoC">
									<span disabled class="c-input ion-margin-bottom"><span class="ion-float-left">Tổng tiền SP</span> <span class="ion-float-right">{{line.CalcTotalOriginal | number: '1.0-0'}} đ</span> </span>
									<span class="c-input ion-margin-bottom">
										<span class="ion-float-left">Số tiền giảm</span>
										<input style="text-align: right; border: none; outline: none; width: 130px; background: none;" class="ion-float-right" mask="separator.2" thousandSeparator="," [allowNegativeNumbers]="false" suffix=" ₫" (change)="discountFromSalesman(line,g)" formControlName="OriginalDiscountFromSalesman" placeholder="Số tiền tặng" />
									</span>

								</div>
							</div>
						</ng-container>
					</div>
				</div>
			</div>
			<div class="box ion-padding" *ngIf="item?.OrderLines?.length > 0 ">
				<div class="box-content">
					<div class="check-out">
						<div class="box-title">
							Khuyến mãi / Voucher
						</div>
						<div class="check-out" style="min-height: 20px;">
							<div class="coupon" *ngFor="let p of promotionAppliedPrograms; let i=index">
								<ion-button fill="clear" color="danger" class="ion-float-right ion-no-padding del-btn" size="small" (click)="deleteVoucher(p)">
									<ion-icon slot="icon-only" name="trash-outline"></ion-icon>
								</ion-button>
								<div class="coupon-left">
									<ion-icon size="large" name="ticket-outline"></ion-icon>
								</div>
								<div class="coupon-right">
									<span>Giảm {{p.Value | number: '1.0-0'}}<span *ngIf="p.IsByPercent">%</span></span>
									<small *ngIf="p.MinOrderValue">
										Cho đơn hàng từ {{p.MinOrderValue | number: '1.0-0'}} <span *ngIf="p.MaxValue"> - tối đa {{p.MaxValue | number: '1.0-0'}}</span>
									</small>
									<small *ngIf="p.ToDate">HSD: {{p.ToDate | date: 'dd/MM/yyyy'}}</small>
								</div>
							</div>
						</div>
						<a class="clickable" *ngIf="pageConfig.canEdit" (click)="processVouchers()">
							<ion-icon name="ticket-outline"></ion-icon> Chọn hoặc nhập mã Voucher
						</a>
					</div>
				</div>

			</div>
			<div class="box ion-padding">
				<div class="box-content">
					<div class="check-out">
						<label class="c-label">Tiền hàng
							<span class="c-value">
								{{item.OriginalTotalBeforeDiscount | number: '1.0-0'}}
							</span>
						</label>
						<label class="c-label clickable" *ngIf="pageConfig.canEdit && item.Id" (click)="processDiscounts()">Chiết khấu <ion-icon name="open-outline"></ion-icon>
							<span class="c-value">{{item.OriginalTotalDiscount | number: '1.0-0'}}</span>
						</label>
						<label class="c-label" *ngIf="!pageConfig.canEdit">Chiết khấu
							<span class="c-value">
								{{item.OriginalTotalDiscount | number: '1.0-0'}}
							</span>
						</label>

						<label class="c-label" *ngIf="item.AdditionsAmount">Service charge
							<span class="c-value">{{item.AdditionsAmount | number: '1.0-0'}}</span>
						</label>

						<label class="c-label">VAT
							<span class="c-value">{{item.OriginalTax + item.AdditionsTax | number: '1.0-0'}}</span>
						</label>

						<label class="c-label" *ngIf="item.OriginalDiscountFromSalesman > 0">Chiết khấu NVBH
							<span class="c-value">{{item.OriginalDiscountFromSalesman | number: '1.0-0'}}</span>
						</label>

						<label class="c-label total">Tổng tiền
							<ion-text class="c-value total" [color]="item.OriginalTotalAfterTax >= 20000000? 'danger' : 'primary'">
								{{item.CalcTotalOriginal - item.OriginalDiscountFromSalesman | number: '1.0-0'}}
							</ion-text>
						</label>

						<label class="c-label">Đã thanh toán
							<ion-icon class="clickable" (click)="processPayments()" name="chevron-down"></ion-icon>
							<ion-text class="c-value" color="dark">
								<span *ngIf="item.Received">{{item.Received | number: '1.0-0'}}</span>
								<span *ngIf="!item.Received">{{0 | number: '1.0-0'}}</span>
							</ion-text>
						</label>
						<label class="c-label" *ngIf="item.Debt >=0">Còn lại
							<ion-text class="c-value" color="dark">
								{{item.Debt | number: '1.0-0'}}
							</ion-text>
						</label>
						<label class="c-label" *ngIf="item.Debt <0">Tiền thừa | <ion-text color="primary" class="clickable" (click)="processPayments()">Hoàn lại</ion-text>
							<ion-text class="c-value" color="dark">
								{{item.Debt * -1 | number: '1.0-0'}}
							</ion-text>
						</label>

						<span class="c-label" style="margin-top: 15px;" *ngIf="item?.OrderLines?.length > 0">
							<label class="InvoiceOptions">
								<input class="c-checkbox" (click)="InvoiceRequired()" [(ngModel)]="this.item.IsInvoiceRequired" [ngModelOptions]="{standalone: true}" type="checkbox">
								<ion-icon color="primary" name="receipt"></ion-icon>
								<ion-label [ngStyle]="{'font-weight': this.item.IsInvoiceRequired ? 'bold' : 'normal'}" [color]="this.item.IsInvoiceRequired ? 'primary' : 'medium'">
									Xuất hóa đơn?
								</ion-label>
							</label>
						</span>
					</div>
				</div>
			</div>

			<div class="box ion-padding">
				<div class="box-content">

					<div class="check-out">
						<div class="box-title">
							Thanh toán
						</div>
						<label class="c-label" *ngFor="let p of paymentList">
							<ng-container *ngIf="p.IncomingPayment.IsRefundTransaction == false && p.IncomingPayment.Status == 'Success'">
								{{p.IncomingPayment.TypeText}} <ion-text *ngIf="p.IncomingPayment.Type=='Card' || p.IncomingPayment.Type=='Transfer'">| {{p.IncomingPayment.SubType}}</ion-text>
								<ion-note *ngIf="p.IncomingPayment.Remark">({{p.IncomingPayment.Remark}})</ion-note>

								<span class="c-value">
									{{p.Amount | number: '1.0-0'}}
								</span>
							</ng-container>
						</label>
						<div class="box-title ion-margin-top" *ngIf="(paymentList | filter:{'IsRefundTransaction': true}).length">
							Hoàn tiền
						</div>
						<label class="c-label" *ngFor="let p of paymentList | filter:{'IsRefundTransaction': true}">
							{{p.IncomingPayment.TypeText}} <ion-text *ngIf="p.IncomingPayment.Type=='Card' || p.IncomingPayment.Type=='Transfer'">| {{p.IncomingPayment.SubType}}</ion-text>
							<ion-note *ngIf="p.IncomingPayment.Remark">({{p.IncomingPayment.Remark}})</ion-note>
							<span class="c-value">
								{{p.Amount | number: '1.0-0'}}
							</span>
						</label>
						<label class="c-label total">Tổng thanh toán
							<span class="c-value">{{item.Received | number: '1.0-0'}}</span>
						</label>
					</div>
				</div>
			</div>

			<!-- Contact -->
			<div class="box header-box ion-padding">
				<div class="header-name">
					<div class="bill-for">
						<span *ngIf="item?.OrderDate">{{item.OrderDate | date: 'HH:mm dd/MM'}} </span>
						<span *ngIf="!item?.Tables?.length">Vui lòng chọn bàn trước</span>
						<span *ngIf="item?.Tables?.length && !item?.OrderLines?.length">Vui lòng chọn món</span>
					</div>
					<div class="total">
						<div class="c-control">
							<div class="text-right">
								<ion-button expand="block" [disabled]="submitAttempt" *ngIf="pageConfig.canEdit && pageConfig.canAddCustomer" style="margin-top: 5px; margin-bottom: 9px;" size="small" (click)="addContact()">
									<ion-icon slot="start" name="add-circle-outline"></ion-icon>
									{{'Create new customer' | translate}}
								</ion-button>
							</div>
							<ion-item *ngIf="Staff" lines="none" class="staff-info">
								<ion-avatar class="clickable" id="open-modal-staff-info" slot="start">
									<img alt="Silhouette of mountains" [src]="Staff.avatarURL" />
								</ion-avatar>
								<ion-text>
									<ion-label> <small>{{Staff.DepartmentName}}</small> </ion-label>
									<ion-label> <small>{{Staff.JobTitleName}}</small> </ion-label>
								</ion-text>
								<ion-modal trigger="open-modal-staff-info">
									<ng-template>
										<ion-content>
											<ion-button fill="clear" style="position: absolute; right:0" color="secondary" (click)="closeModal()">
												<ion-icon slot="icon-only" name="close"></ion-icon>
											</ion-button>
											<ion-img width="100%" alt="Silhouette of mountains" [src]="Staff.avatarURL"></ion-img>
										</ion-content>
									</ng-template>
								</ion-modal>
							</ion-item>
							<ng-select appendTo="#pos-order-detail-page" style="text-align: left;" class="c-input" (change)="changedIDAddress($event)" #IDAddress labelForId="IDAddress" formControlName="IDAddress" [items]="contactList$ | async" [clearable]="false" [typeahead]="contactListInput$" [loading]='contactListLoading' [virtualScroll]="true" bindLabel="Name" bindValue="IDAddress" placeholder="{{'Search for name, code or phone number' | translate}}">
								<ng-template ng-label-tmp let-i="item" let-a="item.Address">
									{{i.Name}}
									<small *ngIf="a">
										<span *ngIf="a.AddressLine1"> | {{a.AddressLine1}}</span>
										<span *ngIf="a.Ward">, {{a.Ward}}</span>
										<span *ngIf="a.District">, {{a.District}}</span>
										<span *ngIf="a.Province">, {{a.Province}}</span>
									</small>
								</ng-template>
								<ng-template ng-option-tmp let-i="item" let-a="item.Address" let-search="searchTerm">
									<div *ngIf="i">
										<div>
											<span [ngOptionHighlight]="search">{{i.Name}}</span>
											<span *ngIf="i.WorkPhone"> | <small> <b [ngOptionHighlight]="search">{{i.WorkPhone}}</b> </small></span>
										</div>
										<small *ngIf="a">
											<b *ngIf="i.Code"><span class="important" [ngOptionHighlight]="search">{{i.Code}}</span></b>
											<span *ngIf="a.AddressLine1"> | {{a.AddressLine1}}</span>
											<span *ngIf="a.Ward">, {{a.Ward}}</span>
											<span *ngIf="a.District">, {{a.District}}</span>
											<span *ngIf="a.Province">, {{a.Province}}</span>
											<br *ngIf="a.AddressLine2 || a.Contact">
											<span *ngIf="a.AddressLine2">{{a.AddressLine2}}</span>
											<span *ngIf="a.Contact"> | {{'Contact' | translate}}: {{a.Contact}}</span>
											<span *ngIf="a.Phone1"> - {{a.Phone1}}</span>
											<span *ngIf="a.Phone2"> - {{a.Phone2}}</span>
										</small>
									</div>
								</ng-template>
							</ng-select>

						</div>
						<div class="c-control">
							<input #numberOfGuestsInput style="text-align: left; min-height: 3.8rem; height: auto;" class="c-input no-check-dirty" formControlName="NumberOfGuests" (change)="saveChange();" placeholder="Số khách" />
						</div>
						<div class="c-control">
							<ng-select appendTo="#pos-order-detail-page" style="text-align: left; min-height: 3.8rem; height: auto;" class="c-input no-check-dirty" formControlName="Tables" (change)="changeTable();" [multiple]="true" [closeOnSelect]="false" [items]="tableList" bindLabel="Name" bindValue="Id" placeholder="{{'Select Table' | translate}}">
								<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
									<div *ngIf="i">
										<div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
									</div>
								</ng-template>
							</ng-select>
						</div>

						<div class="c-control">
							<ng-select appendTo="#pos-order-detail-page" style="text-align: left; min-height: 3.8rem; height: auto;" class="c-input no-check-dirty" formControlName="Status" labelForId="Status" [multiple]="false" [clearable]="false" [items]="soStatusList" bindLabel="Name" bindValue="Code" placeholder="Trạng thái...">
								<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
									<div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
								</ng-template>
							</ng-select>
						</div>
						<div class="c-control" *ngIf="item?.Id && pageConfig.canEdit">
							<label for=""></label>
							<ion-button size="small" color="danger" expand="block" fill="outline" (click)="openCancellationReason();" [disabled]="submitAttempt || !pageConfig.canCancelOrder">
								{{'Cancel' | translate}}
							</ion-button>
						</div>

					</div>
				</div>
			</div>
		</form>

		<div class="functions-list">
			<ion-grid fixed>
				<ion-row *ngIf="item" style="flex-wrap: nowrap;">
					<ion-col *ngIf="pageConfig.canEdit && pageConfig.systemConfig.IsAutoSave">
						<ion-button class="gr-btn-order" [color]="printData.undeliveredItems?.length == 0 ? 'medium' : 'danger' " [ngClass]="{'blink': printData.undeliveredItems?.length != 0}" fill="outline" expand="block" (click)="sendKitchen()" [disabled]="submitAttempt || printData.undeliveredItems?.length == 0">
							Chuyển BAR/KIT
						</ion-button>
					</ion-col>
					<ion-col *ngIf="pageConfig.canEdit && !pageConfig.systemConfig.IsAutoSave">
						<ion-button class="gr-btn-order" [color]="printData.undeliveredItems?.length == 0 ? 'medium' : 'danger' " fill="outline" expand="block" (click)="saveOrderData()" [disabled]="submitAttempt">
							Lưu đơn
						</ion-button>
					</ion-col>
					<ion-col>
						<ion-button color="medium" fill="outline" expand="block" (click)="sendPrint();" [disabled]="submitAttempt || !item.Id">
							In đơn
						</ion-button>
					</ion-col>
				</ion-row>
				<ion-row *ngIf="item && pageConfig.canEdit" style="flex-wrap: nowrap;">
					<ion-col size="12">
						<ion-button *ngIf="item.Debt > 0 " expand="block" (click)="goToPayment()" [disabled]="submitAttempt || !item.Id">
							<ion-text>{{'Bill please'}} {{item.Debt | number: '1.0-0'}} </ion-text>
						</ion-button>
					</ion-col>
				</ion-row>
				<ion-row *ngIf="item && pageConfig.canEdit && !pageConfig.systemConfig.POSSettleAtCheckout" style="flex-wrap: nowrap;">
					<ion-col>
						<ion-button class="linear-blue-btn" expand="block" (click)="doneOrder()" [disabled]="submitAttempt || !item.Id">
							<ion-text>{{'Settle bill' | translate}}</ion-text>
						</ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
	</ion-fab>

	<!-- Menu Group -->
	<div class="no-print menu-holder">
		<div class="menu-group-list">
			<div class="menu-group" (click)="segmentChanged('all')">
				<ion-img #img [src]="AllSegmentImage" (ionError)="img.src = 'assets/pos-icons/POS-Item-demo.png'" [ngClass]="{selected: segmentView=='all'}"></ion-img>
				<ion-label>tất cả</ion-label>
			</div>
			<div class="menu-group" *ngFor="let g of menuList" (click)="segmentChanged(g.Id)">
				<ion-img #img [src]="g.menuImage" (ionError)="img.src = 'assets/pos-icons/POS-Item-demo.png'" [ngClass]="{selected: segmentView==g.Id}"></ion-img>
				<ion-label>{{g.Name}}</ion-label>
			</div>
		</div>
	</div>

	<!-- View MenuList -->
	<div class="no-print">
		<ion-grid fixed *ngIf="menuList?.length">
			<ng-container *ngFor="let g of menuList | filter:{Id:segmentView}">
				<ng-container *ngIf="g.Items?.length">

					<ion-row class="table-holder" *ngIf="(g.Items | searchNoAccent:{SearchName:query.Keyword}).length">

						<ion-col class="group-title" size="12" size-sm="12" size-md="12" size-xl="12">
							<ion-list-header class="ion-no-padding">
								<ion-label color="primary">{{g.Name}}</ion-label>
							</ion-list-header>
						</ion-col>

						<ion-col class="shadow table-item" [ngClass]="{'in-serve': i.BookedQuantity }" *ngFor="let i of g.Items | searchNoAccent:{SearchName:query.Keyword}">
							<!-- <span class="tag right" *ngIf="i.BookedQuantity">
								<ion-text class="tag-content" color="danger">
									{{i.BookedQuantity}}
								</ion-text>
							</span> -->
							<div class="card" [id]="'item'+i.Id">

								<ion-img class="item-image clickable" [title]="i.Name" #img [src]="i.imgPath" (ionError)="img.src = 'assets/pos-icons/POS-Item-demo.png'"></ion-img>
								<span class="table-name clickable">{{i.Name}}</span>
								<ng-container *ngFor="let u of i.UoMs">


									<span *ngIf="u.PriceList.length" class="price clickable">
										<span class="price-list" *ngFor="let p of u.PriceList">
											<span *ngIf="!p.NewPrice">
												{{p.Price | number: '1.0-0'}}
												<span class="uom"> /{{u.Name}}</span>
											</span>
											<span *ngIf="p.NewPrice">
												{{p.NewPrice | number: '1.0-0'}}
												<span class="uom"> /{{u.Name}}</span>
												<small class="old-price">{{p.Price | number: '1.0-0'}}</small> -{{(p.Price - p.NewPrice)/p.Price * 100 | number: '1.0-0'}}%

											</span>
										</span>

										<ion-button [ngClass]="{'linear-blue-btn': i.BookedQuantity}" [title]="i.BookedQuantity? i.BookedQuantity: '+'" class="ion-float-right add-to-cart-btn" size="small" (click)="addToCart(i, u.Id)">
											<ion-icon slot="icon-only" name="cart-outline"></ion-icon>
										</ion-button>
									</span>
								</ng-container>

							</div>
						</ion-col>

					</ion-row>
				</ng-container>
			</ng-container>
		</ion-grid>
		<app-page-message [itemsLength]="menuList.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>
	</div>

	<!-- Bill Printing -->
	<div id="bill" class="bill" style="overflow: auto; width: 72mm;" *ngIf="item?.OrderLines?.length">
		<div class="receipt giao-nhan" style="overflow: auto;">
			<section class="sheet rpt p1">
				<table>
					<thead>
						<tr>
							<td>
								<div class="page-header-space"></div>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>

								<div>
									<div class="header">
										<span class="logo"><img [src]="printData.currentBranch?.LogoURL || 'assets/logo/logo-in-holdings.png'" (error)="$event.src='assets/logos/logo-the-log.png'"></span>
										<span class="brand">{{printData.currentBranch?.ShortName || 'ShortName'}}</span>
										<span class="address">{{printData.currentBranch?.Address || 'Address'}}</span>
										<span class="phone">{{printData.currentBranch?.Phone || 'Phone'}}</span>

										<ng-container *ngIf="pageConfig.canEdit">
											<span class="brand">[ ORDER ]</span>
											<span>({{'Bill No.' | translate}}: {{id}})</span>
										</ng-container>
										<ng-container *ngIf="!pageConfig.canEdit">
											<span class="brand">[ RECEIPT ]</span>
											<span>(Receipt No.: {{id}})</span>
										</ng-container>

									</div>
									<div class="table-info">
										<table>
											<tr>
												<td class="title">{{'Table' | translate}}</td>
												<td><span *ngFor="let t of printData.selectedTables">{{t.Name}}; </span></td>
											</tr>
											<tr>
												<td class="title">{{'Date' | translate}}</td>
												<td>{{item.OrderDate | date: 'HH:mm dd/MM'}}</td>
											</tr>
											<tr *ngIf="kitchenQuery=='all'">
												<td class="title">{{'Customer' | translate}}</td>
												<td>{{item._Customer?.Name}}

												</td>
											</tr>
											<tr *ngIf="kitchenQuery!='all'">
												<td class="title">{{'Send To' | translate}}</td>
												<td><span *ngFor="let k of kitchenList | filter:{Id:kitchenQuery}">{{k.Name}}</span></td>
											</tr>
										</table>
									</div>
									<div class="items" *ngIf="kitchenQuery=='all'">
										<table>
											<tr class="bold small">
												<td>{{'Item' | translate}}</td>
												<td>Price</td>
												<td>Qty</td>
												<td class="text-right">Discount</td>
												<td class="text-right">{{'Amount' | translate}}</td>
											</tr>
											<ng-container *ngFor="let o of item.OrderLines | filter:{'_IDKitchen':kitchenQuery}">
												<tr class="small">
													<td colspan="5" class="name">
														<div>{{o._item?.Name}}</div>
													</td>
												</tr>
												<tr class="small">
													<td>&#8203;</td>
													<td class="od-price total"><span>{{o.UoMPrice | number: '1.0-0'}}</span></td>
													<td class="quantity total"><span>{{o.Quantity}}</span></td>
													<td class="total"><span>{{o.OriginalTotalDiscount | number: '1.0-0'}}</span></td>
													<td class="total"><span>{{o.OriginalTotalBeforeDiscount | number: '1.0-0'}}</span></td>
												</tr>
											</ng-container>
										</table>
									</div>
									<div class="items" *ngIf="kitchenQuery!='all'">
										<table>
											<tr class="bold">
												<td>{{'Item' | translate}}</td>
												<td class="total">{{'Qty' | translate}}</td>
											</tr>
											<ng-container *ngFor="let o of item.OrderLines | filter:{'_IDKitchen':kitchenQuery} ; let idx = index ">
												<ng-container *ngIf="o._undeliveredQuantity > 0">
													<tr>
														<td>
															{{idx + 1}}. <span>{{o._item?.Name}}</span>
														</td>
														<td class="total"><span class="bold quantity">{{o._undeliveredQuantity}}</span> </td>
													</tr>
													<tr *ngIf="o.Remark">
														<td colspan="2">
															Note: {{o.Remark}}
														</td>
													</tr>
												</ng-container>
											</ng-container>
										</table>
									</div>
									<div style="border-bottom: none;" class="table-info" *ngIf="kitchenQuery!='all'">
										<table>
											<tr>
												<td class="title">{{'PrintDate' | translate}}</td>
												<td class="text-right"><span>{{printData.printDate}}</span></td>
											</tr>
										</table>
									</div>


									<ng-container *ngIf="kitchenQuery=='all'">

										<!-- Total & Discount -->
										<div class="table-info-top">
											<table>
												<tr>
													<td class="title">{{'Total' | translate }}</td>
													<td class="text-right"><span>{{item.OriginalTotalBeforeDiscount | number: '1.0-0'}}</span></td>
												</tr>
												<tr>
													<td class="title">{{'Discount' | translate }} [ {{item.OriginalTotalDiscountPercent}}% ]</td>
													<td class="text-right"><span>{{item.OriginalTotalDiscount | number: '1.0-0'}}</span></td>
												</tr>
											</table>
										</div>

										<!-- Service charge -->
										<div class="table-info-top">
											<table>
												<tr>
													<td class="title">{{'Discounted amount' | translate}}</td>
													<td class="text-right"><span>{{item.OriginalTotalAfterDiscount | number: '1.0-0'}}</span></td>
												</tr>
												<tr>
													<td class="title">{{'Service charge' | translate}} [ {{item.AdditionsAmountPercent}}% ]</td>
													<td class="text-right"><span>{{item.AdditionsAmount | number: '1.0-0'}}</span></td>
												</tr>
											</table>
										</div>

										<!-- VAT -->
										<div class="table-info-top">
											<table>
												<tr>
													<td class="title">{{'Base VAT amount' | translate}}</td>
													<td class="text-right"><span>{{item.OriginalTotalAfterDiscount + item.AdditionsAmount | number: '1.0-0'}}</span></td>
												</tr>
												<tr>
													<td class="title">{{'VAT' | translate}} [ {{item.OriginalTaxPercent}}% ]</td>
													<td class="text-right"><span>{{item.OriginalTax + item.AdditionsTax | number: '1.0-0'}}</span></td>
												</tr>
											</table>
										</div>

										<!-- Total -->
										<div class="table-info-top">
											<table>
												<tr *ngIf="item.OriginalDiscountFromSalesman>0">
													<td class="title">{{'Discount from saleman' | translate}} [ {{item.OriginalDiscountFromSalesmanPercent}}% ]</td>
													<td class="text-right"><span>{{item.OriginalDiscountFromSalesman | number: '1.0-0'}}</span></td>
												</tr>
												<tr>
													<td class="title bold">{{'Total affter tax' | translate}}</td>
													<td class="text-right bold"><span>{{item.CalcTotalOriginal - item.OriginalDiscountFromSalesman | number: '1.0-0'}}</span></td>
												</tr>
											</table>
										</div>

										<!-- Amount paid -->
										<div class="table-info-top">
											<table>
												<tr>
													<td class="title bold">{{'Amount paid' | translate}}</td>
													<td class="text-right bold"><span>{{item.Received | number: '1.0-0' }}</span></td>
												</tr>
												<tr *ngFor="let p of paymentList">
													<ng-container *ngIf="p.IncomingPayment.Status == 'Success'">
														<td class="title">
															 - {{p.IncomingPayment.TypeText}}
															<span *ngIf="p.IncomingPayment.SubType"> | {{p.IncomingPayment.SubType}}</span>
															<span *ngIf="p.IncomingPayment.IsRefundTransaction"> | Refund</span>
															<small *ngIf="p.IncomingPayment.Remark"> | {{p.IncomingPayment.Remark}}</small>
														</td>
														<td class="text-right"><span>{{p.Amount | number: '1.0-0'}}</span></td>
													</ng-container>
												</tr>
											</table>
										</div>

										<!-- Amount Due -->
										<div class="table-info-top">
											<table>
												<tr *ngIf="item.Debt > 0">
													<td class="title bold">{{'Amount Due' | translate}}:</td>
													<td class="text-right bold"><span>{{item.Debt | number: '1.0-0'}}</span></td>
												</tr>
											</table>
										</div>

										<div class="message">
											<div><small>{{"This bill's invoice can only be generated in the same day" | translate}}</small></div>
											<div><small>{{'This bill is valid within day' | translate}}</small></div>
											<div class="ion-text-uppercase">
												{{'Thank you! See you again!' | translate}}
											</div>
										</div>
									</ng-container>
								</div>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td>
								<div class="page-footer-space">.</div>
							</td>
						</tr>
					</tfoot>
				</table>
			</section>
		</div>
	</div>

	<!-- Kitchen Dishes Printing -->
	<ng-container *ngIf="item?.OrderLines?.length && kitchenQuery!='all'">
		<ng-container *ngFor="let o of item.OrderLines | filter:{'_IDKitchen':kitchenQuery}; let idx = index">
			<div [id]="'bill-item-each-'+o.Id" class="bill" style="overflow: auto; width: 72mm;">
				<div class="receipt giao-nhan" style="overflow: auto;">
					<section class="sheet rpt p1">
						<table>
							<thead>
								<tr>
									<td>
										<!-- <div class="page-header-space"></div> -->
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div>
											<div class="items">
												<table>
													<tr>
														<td class="title table-name-bill" colspan="2">
															<ion-text class="bold ">{{'Table' | translate}}: </ion-text>
															<ng-container *ngFor="let t of printData.selectedTables">
																<ion-text class="bold">{{t.Name}};</ion-text>
															</ng-container>
														</td>
													</tr>
												</table>
												<table>
													<tr class="bold">
														<td>{{'Item' | translate}}</td>
														<td class="total">{{'Qty' |
															translate}}</td>
													</tr>
													<ng-container>
														<tr>
															<td>
																{{idx + 1}}. <span>{{o._item?.Name}}</span>
															</td>
															<td class="total"><span class="bold quantity">{{o._undeliveredQuantity}}</span>
															</td>
														</tr>
														<tr *ngIf="o.Remark">
															<td colspan="2">
																Note: {{o.Remark}}
															</td>
														</tr>
													</ng-container>
												</table>
											</div>
											<div style="border-bottom: none;" class="table-info" *ngIf="kitchenQuery!='all'">
												<table>
													<tr>
														<td class="title">{{'PrintDate' |
															translate}}</td>
														<td class="text-right"><span>{{printData.printDate}}</span></td>
													</tr>
												</table>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td>
										<div class="page-footer-space"></div>
									</td>
								</tr>
							</tfoot>
						</table>
					</section>
				</div>
			</div>
		</ng-container>
	</ng-container>
</ion-content>