// .feature{
//     background: linear-gradient(180deg, var(--main-background-top), var(--main-background-bottom));
// }
// ion-content {
//     background: linear-gradient(180deg, var(--feature-background-top), var(--feature-background-bottom));

//     ion-label {
//         margin-top: 0px !important;
//     }
// }
.InvoiceOptions {
  margin-top: 10px;
}

.cart span {
  position: absolute;
  padding: 0 5px;
  background: var(--ion-color-warning);
  color: var(--ion-color-warning-contrast);
  border-radius: 4px;
  min-width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  top: 0px;
  right: -5px;
  font-size: 80%;
  font-weight: bold;
}

.search-box {
  min-width: 30vw;
  height: 35px;
  padding-bottom: 1px;
  text-align: start;
}

.menu-holder {
  padding-bottom: 0px !important;
  overflow: hidden;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: 6px;
  }

  .menu-group-list {
    display: flex;
    min-width: 100%;
    width: fit-content;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: stretch;
    padding: 16px 16px 0;

    .menu-group {
      min-width: 70px;
      max-width: 70px;
      margin-bottom: 8px;
      margin-right: 10px;
      font-size: calc(10/16 * 1rem);
      text-align: center;
      text-transform: capitalize;
      cursor: pointer;

      ion-img {
        width: 100%;
        background: #fff;
        border-radius: 100px;
        overflow: hidden;
        border: solid 5px #fff;
      }

      ion-img.selected {
        border: solid 5px var(--ion-color-primary);
      }

      ion-label {
        display: block;
        font-size: calc(10/16 * 1rem);
        font-weight: bold;
        padding: 0px;
        text-transform: uppercase;
        margin-top: 5px;
      }
    }

    .menu-group:first-child {
      //margin-left: 16px !important;
    }

    .menu-group:last-child {
      //margin-right: 16px !important;
    }
  }
}

.feature {
  background: linear-gradient(180deg, var(--main-background-top), var(--main-background-bottom));

  .c-content {
    margin: 16px;

    @media (min-width: 768px) {
      max-width: 600px;
    }

    .header-info {
      line-height: 25px;
      text-align: center;
      text-transform: uppercase;

      .so-id {
      }

      .cus-info {
        .cus-name {
          font-size: 30px;
          font-weight: bold;
          line-height: 40px;
        }

        .cus-more {
          line-height: 20px;
          font-size: 14px;
          margin: 10px;
        }
      }
    }

    .header-box {
      text-align: center;

      .header-name {
        .product-type {
          text-transform: capitalize;
          font-size: 18px;
          line-height: 28px;
          color: var(--ion-color-dark);
          margin: 15px 0;
        }

        .bill-for {
          font-size: 12px;
          color: var(--ion-color-primary);
          margin: 10px 0;
        }

        .total {
          color: var(--ion-color-dark);
          font-size: calc(10/16 * 1.2rem);

          .c-control {
            margin-bottom: 7px;
          }

          .c-input {
            text-align: right;
            color: var(--ion-color-primary);
          }

          .c-control .c-label {
            position: absolute;
            line-height: calc(10/16 * 3.8rem);
            margin-left: 9px;
            width: auto;
          }

          table {
            width: 100%;

            td {
              text-align: right;
              font-weight: bold;
            }

            .title {
              font-weight: normal;
              text-align: left;
            }
          }
        }
      }
    }

    .box {
      background-color: var(--ion-color-tertiary-tint);
      border-radius: 4px;
      overflow: hidden;
      color: var(--ion-color-dark);
      //box-shadow: 0px 22px 36px -29px rgba(0, 0, 0, 0.3);
      //box-shadow: 0px 4px 20px 0px rgba(115, 154, 255, 0.3);
      margin-bottom: 16px;

      .box-content {
        color: var(--ion-color-dark);

        .box-title {
          font-size: 95%;
          color: var(--ion-color-dark);
          font-weight: bold;
          margin-bottom: 5px;
        }

        .od {
          border-bottom: dashed 3px var(--ion-color-light);
          padding: 16px 0;

          &:last-child {
            margin-bottom: 16px;
            border-bottom: none;
          }

          &.group {
            // background-color: #f15a25;
            // color: #FFF;
            // font-weight: bold;
            // margin: 0 -16px;
            // padding: 16px 16px !important;
            color: var(--ion-color-primary);
            font-weight: bold;
            margin: 0 -16px;
            padding: 16px 16px !important;

            ion-button {
              margin-top: -2px;
            }

            .group-price {
              float: right;
            }
          }

          .od-image {
            min-width: 53px;
            max-width: 53px;
            height: 53px;
            border-radius: 4px;
            overflow: hidden;
            background-size: cover;
            background-position: center;
          }

          .od-info {
            padding-left: 8px;
          }

          .od-name {
            text-transform: uppercase;
            font-size: 80%;

            .od-id {
              background: var(--ion-color-primary);
              color: var(--ion-color-primary-contrast);
              border-radius: 3px;
              padding-top: calc(10/16 * 0.1rem);
              padding-bottom: calc(10/16 * 0.1rem);
              padding-left: calc(10/16 * 0.5rem);
              padding-right: calc(10/16 * 0.5rem);
            }
          }

          .od-price {
            font-size: calc(10/16 * 1.2rem);
            color: var(--ion-color-dark);
            margin: 5px 0;
            font-weight: bold;
          }

          .od-quantity {
            line-height: 36px;

            .quantity {
              font-size: calc(10/16 * 2rem);

              .uom {
                font-size: calc(10/16 * 1.2rem);
                color: var(--ion-color-medium);
                vertical-align: bottom;
                line-height: 35px;
              }
            }

            .gift {
              float: right;
              color: var(--ion-color-primary);
            }
          }

          .od-remark {
            padding-right: 0px;

            textarea {
              background-color: transparent;
              min-width: 100%;
              max-width: 100%;
              min-height: 30px;
              max-height: 60px;
              line-height: 17px;
              font-size: 1.2rem !important;
              font-style: italic;
              color: var(--ion-color-warning);
              border: solid 1px var(--ion-color-warning);
              border-radius: 4px;
            }
          }
        }

        .box-item {
          border-bottom: dashed 3px var(--ion-color-light);
          padding: 10px 0;

          .item-title {
            margin: 5px 0;
            font-size: 13px;
            color: var(--ion-color-primary);
            text-transform: uppercase;
          }

          .item-detail {
            font-size: 13px;
            line-height: 20px;
          }
        }

        .check-out {
          .c-label {
            display: block;
            font-size: 100%;
            color: var(--ion-color-medium);
            /* width: 100%; */
            /* line-height: calc(10/16 * 2rem); */
            margin-top: calc(10/16 * 0.8rem);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .c-value {
              color: var(--ion-color-base);
            }

            &.total {
              border-top: solid 1px var(--menu-right-border-color);
              margin-top: 5px;
              padding-top: 6px;
              font-size: 100%;
              font-weight: bold;

              .c-value {
                font-size: 120%;
                color: var(--ion-color-base);
              }
            }
          }
        }
      }
    }

    .check-info {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 16px;
        bottom: 19px;
        left: 0;
        background-image: url('../../../../assets/undraw_mobile_user_7oqo.svg');
        background-repeat: no-repeat;
        background-size: 50%;
        z-index: 0;
        opacity: 0.1;
        background-position: right bottom;
      }

      .box-content {
        position: relative;
      }
    }
  }

  .functions-list {
    top: auto;
    border-top: solid 1px var(--menu-right-border-color);
    box-shadow: 0px -2px 5px 0 rgb(0 0 0 / 10%);
    z-index: 999999;

    position: sticky;
    bottom: 0;
    background: linear-gradient(180deg, var(--main-background-top), var(--main-background-bottom));
  }
}

.table-holder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  .table-item {
    min-width: 190px;
    max-width: 200px;

    margin: 8px;
    padding: 0;

    @media screen and (max-width: calc(425px)) {
      min-width: 150px;
    }

    .card {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      overflow: hidden;
      border-radius: 4px;
      background: var(--ion-color-tertiary-tint);
      padding-bottom: 5px;

      .item-image {
        min-height: 190px;
        background-color: var(--ion-color-light);

        @media screen and (max-width: calc(425px)) {
          min-height: 150px;
        }
      }
    }

    .table-dot {
      position: absolute;
      height: 10px;
      width: 10px;
      background: var(--ion-color-primary-tint);
      z-index: 1;
      border: solid 1px var(--ion-color-primary);
      border-radius: 6px;
      right: 5px;
      top: 5px;

      small {
        font-size: 110%;
        white-space: nowrap;
        margin-top: -5px;
        margin-left: -50px;
        display: none;
        text-align: right;
        min-width: 50px;
        padding-right: 14px;
      }
    }

    .table-name {
      margin: auto;
      padding: 0.8rem 0;
      font-size: calc(10/16 * 1.2rem);
      color: var(--ion-color-dark);
      display: table-cell;
      vertical-align: middle;
      word-break: break-word;
      padding: 16px 16px 8px;
      width: 100%;
    }

    .price {
      font-size: calc(10/16 * 1.4rem);
      // color: var(--ion-color-primary);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .price-list {
        padding-left: 16px;
        font-weight: bold;

        .old-price {
          text-decoration: line-through;
          color: var(--ion-color-dark);
        }
      }

      .uom {
        font-size: 80%;
      }

      .add-to-cart-btn {
        //background-color: var(--ion-color-primary);
        height: 46px;
        width: 46px;
        --border-radius: 100px;
        //color: var(--ion-color-primary-contrast);
        margin-right: 8px;
        font-size: 16px;
        font-weight: bold;
        position: relative;

        &::before {
          content: attr(title);
          position: absolute;
          right: 8px;
          z-index: 1;
          top: 5px;
          font-size: 10px;
          font-weight: bold;
          width: 16px;
          height: 16px;
          line-height: 16px;
          border-radius: 10px;
          display: block;
          opacity: 0.9;
        }
      }
    }

    .table-status {
      text-align: center;
      width: 100%;
      font-size: calc(10/16 * 1rem);
      font-style: italic;
      color: var(--ion-color-primary);
    }

    &.empty {
    }

    &.in-serve {
      .table-dot {
        background: var(--ion-color-danger);
        border: solid 1px var(--ion-color-danger-tint);

        small {
          display: block;
        }
      }

      .table-status {
        font-weight: bold;
      }
    }
  }
}

.table-holder:last-child {
  margin-bottom: 50px;
}

.show-bill {
  display: block !important;
}

.bill {
  display: none;
  color: #000;
  overflow: hidden !important;

  .sheet {
    box-shadow: none !important;
  }

  .title {
    color: #000;
    font-size: 13px;
  }

  .header {
    text-align: center;

    span {
      display: inline-block;
      width: 100%;
    }

    .logo {
      img {
        max-width: 150px;
        max-height: 75px;
      }
    }

    .brand {
      font-weight: bold;
    }

    .address {
      font-size: 80%;
      font-style: italic;
    }

    .phone {
    }

    .bill-no {
      font-weight: bold;
    }
  }

  .table-info {
    border: solid;
    margin: 5px 0;
    padding: 5px;
    border-width: 1px 0;
  }

  .table-info-top {
    border-top: solid;
    margin: 5px 0;
    padding: 5px;
    border-width: 1px 0;
  }

  .table-info-bottom {
    border-bottom: solid;
    margin: 5px 0;
    padding: 5px;
    border-width: 1px 0;
  }

  .items {
    margin: 5px 0;

    tr {
      td {
        border-bottom: dashed 1px #ccc;
        padding-bottom: 5px;
      }

      &:last-child td {
        border: none !important;
      }
    }

    .name {
      width: 100%;
      border: none !important;

      padding-top: 5px;
      padding-bottom: 2px !important;
    }

    .code {
      font-weight: bold;
      text-transform: uppercase;
    }

    .quantity {
      font-weight: bold;
    }

    .total {
      text-align: right;
    }
  }

  .message {
    text-align: center;
  }

  .header,
  .table-info,
  .table-info-top,
  .table-info-bottom,
  .items,
  .message {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.sheet {
  font-family: 'Times New Roman' !important;
}

@media print {
  .bill {
    color: #000;
    display: block !important;
    overflow: hidden !important;

    .title {
      color: #000;
      font-size: 13px;
    }

    .header {
      text-align: center;

      span {
        display: inline-block;
        width: 100%;
      }

      .logo {
        img {
          max-width: 150px;
          max-height: 75px;
        }
      }

      .brand {
        font-weight: bold;
      }

      .address {
        font-size: 80%;
        font-style: italic;
      }

      .phone {
      }

      .bill-no {
        font-weight: bold;
      }
    }

    .table-info {
      border: solid;
      margin: 5px 0;
      padding: 5px;
      border-width: 1px 0;
    }

    .table-info-top {
      border-top: solid;
      margin: 5px 0;
      padding: 5px;
      border-width: 1px 0;
    }

    .table-info-bottom {
      border-bottom: solid;
      margin: 5px 0;
      padding: 5px;
      border-width: 1px 0;
    }

    .items {
      margin: 5px 0;
      line-height: 18px;

      tr {
        td {
          border-bottom: dashed 1px #ccc;
          padding: 0 5px;
        }

        &:last-child td {
          border: none !important;
        }
      }

      .name {
        width: 100%;
        border: none !important;
      }

      .code {
        font-weight: bold;
        text-transform: uppercase;
      }

      .quantity {
        font-weight: bold;
      }

      .total {
        text-align: right;
      }
    }

    .message {
      text-align: center;
    }

    .header,
    .table-info,
    .table-info-top,
    .table-info-bottom,
    .message {
      padding-left: 12px;
      padding-right: 8px;
    }

    .items {
      padding-left: 8px;
      padding-right: 4px;
    }
  }
}

.so-rows {
  padding-left: calc(100% - 320px);
}

.toggle {
  display: none;
}

.InvoiceOptions {
  display: flex;
  align-items: center;
  align-content: center;
  cursor: pointer;

  ion-icon {
    transform: scale(1.2);
    margin: 0px 8px;
  }
}

.linear-blue-btn {
  --background: linear-gradient(190deg, rgb(11, 31, 60) 10%, rgb(43, 88, 147) 85%);
  --background-hover: linear-gradient(190deg, rgb(11, 31, 60) 40%, rgb(43, 88, 147) 100%);
  --background-activated: linear-gradient(190deg, rgb(11, 31, 60) 50%, rgb(43, 88, 147) 100%);
  --background-focused: linear-gradient(190deg, rgb(11, 31, 60) 50%, rgb(43, 88, 147) 100%);
}

.table-info-top {
  td {
    padding-top: 5px;
  }

  .small {
    font-size: smaller !important;
  }
}
.staff-info {
  border: 1px solid var(--ion-color-light);
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 7px;
  border-radius: 5px;
}
ion-img {
  object-fit: cover;
}

.sticky-menu {
  position: sticky;
  top: 0;
  z-index: 5;
  background: var(--main-background-top);
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.custom-fab {
  display: inline-flex;
  flex-direction: column-reverse;

  .label-background {
    height: 90px;
    min-width: 175px;
    width: min-content;
    display: flex;
    align-items: center;
    background-color: var(--ion-color-tertiary-tint);
    border-radius: 5px;
    margin-right: 5px;
    box-shadow: 3px 3px 5px 0px #888888;
    justify-content: center;
    padding: 5px 10px;
    margin-top: -30px;
  }
}
ion-fab[horizontal='start'] .custom-fab {
  flex-direction: row-reverse;
}
.custom-fab ion-button {
  --height: 25px;
  text-transform: none;
}
