<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" class="ion-hide-sm-down_">
            <ion-button color="dark" class="ion-hide-sm-down_" *ngIf="item">
                <!-- Ghi chú [{{item.ItemName}}] -->
                Ghi chú nhanh
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="primary">
            <!-- <ion-button title="{{'erp.app.pages.sale.sale-order.merge.help' | translate}}" (click)="help()">
                <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
            </ion-button> -->

            <ion-button title="{{'erp.app.pages.sale.sale-order.merge.close-modal' | translate}}" color="secondary" (click)="applyRemark()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>


</ion-header>
<ion-content appScrollbarTheme>
    <div id="pos-discount-page" style="position: absolute;"></div>
    <ion-fab *ngIf="pageConfig.isShowFeature" [ngClass]="{withSearch: pageConfig.isShowSearch}" class="feature no-print " vertical="top" horizontal="start" slot="fixed">
        <!-- <ion-list>
            <ion-list-header lines="full">
                <ion-label color="dark">{{'erp.app.pages.sale.sale-order-note.sale-order' | translate}}</ion-label>

                <ion-button size="small" (click)="toggleDateFilter()">
                    <ion-icon slot="icon-only" [name]="query.IDStatus == '[104, 105, 109, 113, 114]' ? 'calendar-outline' : 'calendar'"></ion-icon>
                </ion-button>
            </ion-list-header>
        </ion-list> -->

        <ion-list>
            <ion-item [color]="selectedGroupType == 'All'? 'primary': '' " button detail="true" lines="full" class="clickable" (click)="loadGroupType('All')">
                <ion-label class="ion-text-wrap">
                    Tất cả
                </ion-label>
            </ion-item>
            <ion-item [hidden]="(g == null) || (g == '')" [color]="g == selectedGroupType? 'primary': '' " button detail="true" lines="full" class="clickable" *ngFor="let g of GroupType" (click)="loadGroupType(g)">
                <ion-label class="ion-text-wrap">
                    {{g}}
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-fab>

    <div class="main-view">
        <ion-grid class="options">

            <ion-row class="hr-group remove-padding">
                <!-- <ion-col size="12">

                    <div class="c-control">
                        <label class="c-label" for="ItemName">Sản phẩm</label>
                        <input class="c-input" readonly id="ItemName" [(ngModel)]="item.ItemName" type="text" placeholder="Tên sản phẩm">
                    </div>

                    <div class="c-control">
                        <label class="c-label" for="Remark">Ghi chú
                            <ion-button color="danger" [hidden]="(selectedOrder.IDStatus == 114 || selectedOrder.IDStatus == 115)" style="margin-top:-7px" class="ion-float-right" size="small" (click)="item.Remark = null;">
                                <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
                                Xóa tất cả
                            </ion-button>
                        </label>
                        <textarea rows="3" class="c-input remark" id="Remark" [(ngModel)]="item.Remark" spellcheck="false" placeholder="Thêm ghi chú cho món" type="textarea">
                        </textarea>
                    </div>

                </ion-col>
                <ion-col size="12">
                    <div>
                        <div class="memo-group-list">
                            [ngClass]="{selected:  (item?.Remark?.indexOf(' '+q.Name) != -1) && (item?.Remark != null)}"
                            <ion-button *ngFor="let q of quickMemuList" (click)="passInRemark(q.Name)" size="small" [fill]="((item?.Remark?.indexOf(' '+q.Name) != -1) && (item?.Remark != null)) ? 'solid' : 'outline'">
                                <ion-label>{{q.Name}}</ion-label>
                            </ion-button>
                        </div>
                    </div>
                </ion-col> -->
            
                <ion-col size="auto" size-sm="auto" size-md="auto" class="memo-holder" *ngFor="let q of selectedMemoList" (click)="passInRemark(q.Name)" >
                    <ion-card [ngClass]="{selected:  (item?.Remark?.indexOf(' '+q.Name) != -1) && (item?.Remark != null)}">
                        {{q.Name}}
                    </ion-card>
                </ion-col>
            </ion-row>


            <!-- Remark + Apply -->
            <ion-row class="sticky-btn">
                <ion-col size="12">
                    <div class="c-control" style="margin-bottom: 0px !important;">
                        <label class="c-label" for="Remark">Ghi chú
                            <ion-button color="danger" [hidden]="(selectedOrder.IDStatus == 114 || selectedOrder.IDStatus == 115)" class="ion-float-right" size="small" (click)="item.Remark = null;">
                                <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
                                Xóa tất cả
                            </ion-button>
                        </label>
                        <textarea rows="3" class="c-input remark" id="Remark" [(ngModel)]="item.Remark" spellcheck="false" placeholder="Thêm ghi chú cho món" type="textarea">
                        </textarea>
                    </div>
                </ion-col>
                <ion-col size="12" [hidden]="(selectedOrder.IDStatus == 114 || selectedOrder.IDStatus == 115)">
                    <div class="c-control ion-text-center">
                        <ion-button expand="block" [disabled]="submitAttempt" (click)="applyRemark(true)">Áp dụng ghi chú</ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>


    </div>




</ion-content>