.payment-methods {
	display: flex;
	align-items: center;
	align-content: center;
	cursor: pointer;

	ion-icon {
		transform: scale(1.2);
		margin: 0px 8px;
	}
}

.remove-padding {
	padding: 0px !important;
}

.remove-margin {
	margin-bottom: 0px !important;
}

.list-header {
	display: flex;
}

ion-list-header {
	ion-label {
		margin-top: 0px !important;
	}
}

.voucher-box-list {
	min-height: 250px;
	max-height: 250px;
	overflow-y: auto;
	width: 107%;

	.voucher-card {
		display: flex;
		cursor: pointer;
		border-radius: 5px;
		min-height: 70px;
		margin-bottom: 16px;
		width: 95%;
		background-color: var(--table-row-background);
		box-shadow: 3px 4px 8px 0px rgb(0 0 0 / 15%);

		.voucher-group {
			width: 25%;
		}

		.voucher-info {
			width: 70%;
		}
	}

	.voucher-card:first-child {
		margin-top: 10px;
	}
}

app-page-message {
	.message-container {
		transform: scale(0.8) !important;
	}
}

.outer {
	overflow: hidden;
}
.outer i {
	width: 27px;
	height: 15px;
	// border: 1px solid #888;
	border-radius: 20px;
	background-color: var(--ion-background-color);
	box-shadow: inset 3px 3px 5px 0px rgb(0 0 0 / 15%);
}

.inner {
	// border: 1px solid #888;
}
.inner i {
	width: 27px;
	height: 15px;
	// border: 1px solid #888;
	border-radius: 20px;
	background-color: var(--ion-background-color);
	box-shadow: inset 3px 3px 5px 0px rgb(0 0 0 / 15%);
}
.inner .top {
	margin-top: -9px;
}
.inner .bottom {
	margin-top: -5px;
	margin-bottom: -22px;
}
.inner .left {
	float: left;
	margin-left: -21px;
}
.inner .right {
	float: right;
	margin-right: -21px;
}
.content {
	min-height: 90px;
	// width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	.date-expire {
		margin-top: 10px;
	}

	.name {
		font-size: 12px;
	}

	.voucher-icon {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		ion-icon {
			font-size: 26px;
		}
	}
}

.sticky-btn {
	position: sticky;
	bottom: -20px;
	z-index: 20;
	background-color: var(--ion-background-color);
}

@media screen and (max-width: 768px) {
	.voucher-box-list {
		width: 112%;
	}
}
