<ion-header collapse="fade">
	<ion-toolbar>
		<ion-title>{{'Discount' | translate}}</ion-title>
		<ion-buttons slot="primary">
			<ion-button title="{{'Close' | translate}}" color="secondary" (click)="closeModal()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme class="ion-padding">
	<div id="pos-discount-page" style="position: absolute"></div>
	<div class="main-view">
		<ion-grid fixed style="max-width: 500px" *ngIf="Discount">
			<ion-row class="hr-group remove-padding">
				<ion-col size="12">
					<ion-row>
						<ion-col size="12" size-sm="12" size-xl="12">
							<div class="c-control">
								<label class="c-label" for="PercentDiscount">{{'Discount (%)' | translate}}</label>
								<input
									mask="separator.2"
									(change)="changePercentDiscount()"
									thousandSeparator=","
									[allowNegativeNumbers]="false"
									maxlength="4"
									suffix=" %"
									class="c-input c-label"
									id="PercentDiscount"
									[(ngModel)]="Discount.Percent"
									type="tel"
									placeholder="% Discount"
								/>
							</div>
							<div class="c-control">
								<label class="c-label" for="DiscountAmount">{{'Discount amount' | translate}}</label>
								<input
									mask="separator.2"
									(change)="changeAmountDiscount()"
									thousandSeparator=","
									[allowNegativeNumbers]="false"
									suffix=" ₫"
									class="c-input c-label"
									id="DiscountAmount"
									[(ngModel)]="Discount.Amount"
									type="tel"
									placeholder="$ Discount"
								/>
							</div>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
<ion-footer collapse="fade">
	<ion-toolbar>
		<div slot="start">
        </div>
		
		<div slot="end">
			<ion-button [strong]="true" (click)="applyDiscount(true)">
				{{'Apply' | translate}}
			</ion-button>
            <ion-button fill="outline" color="warning" (click)="closeModal()" >
                {{'Cancel' | translate}}
            </ion-button>
        </div>
		
	</ion-toolbar>
</ion-footer>
