<ion-header>
	<app-toolbar [page]="this"></app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
	<div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
		<div class="row-full shadow full-screen">
			<div>
				<div *ngIf="segmentView == 's1'">
					<div class="ion-padding">
						<ion-grid fixed>
							<form [formGroup]="formGroup">
								<ion-row class="hr-group">
									<ion-col size="12" size-sm="12" size-md="4" size-xl="4">
										<ion-list-header class="ion-no-padding">
											<ion-label color="primary">{{'General information' | translate}}</ion-label>
										</ion-list-header>
									</ion-col>
									<ion-col size="12" size-sm size-md="8" size-xl="6">
										<app-form-control (change)="saveChange()" [field]="{id:'Name',label:'Name',type:'span-text',form:formGroup}"></app-form-control>

										<app-form-control (change)="saveChange()" [field]="{id:'Name',label:'Name',type:'text',form:formGroup}"></app-form-control>
									</ion-col>
								</ion-row>

								<ion-row class="hr-group">
									<ion-col size="12" size-sm="12" size-md="4" size-xl="4">
										<ion-list-header class="ion-no-padding">
											<ion-label color="primary">{{'Printer' | translate}}</ion-label>
										</ion-list-header>
									</ion-col>
									<ion-col size="12" size-sm size-md="8" size-xl="6">
										<app-form-control
											(change)="saveChange()"
											[field]="{id:'IDPrinter',label:'Printer',type:'ng-select', dataSource:IDPrinterList, bindLabel:'Name', bindValue:'Id',form:formGroup}"
										></app-form-control>
										<app-form-control (change)="saveChange()" [field]="{id:'IsPrintList',label:'Print list',type:'checkbox',form:formGroup}"></app-form-control>
										<app-form-control (change)="saveChange()" [field]="{id:'IsPrintOneByOne',label:'Print one by one',type:'checkbox',form:formGroup}"></app-form-control>
										<app-form-control (change)="saveChange()" [field]="{id:'Remark',label:'Description',type:'textarea',form:formGroup}"></app-form-control>
									</ion-col>
								</ion-row>
							</form>
						</ion-grid>
					</div>
				</div>
				<div *ngIf="segmentView == 's2'"></div>
			</div>
		</div>
	</div>
	<app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>
