.combo-list {
  padding: 8px !important;
}

/* HEADER NHÓM */
.group-header-row {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.group-title {
  font-size: 1.55rem;
  font-weight: 700;
  color: var(--ion-color-dark);
}

/* Tag styling */
.group-info {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}


/* BOX GROUP */
.group-box {
  // background: #ffffff;
  border-radius: 8px;
  padding: 6px 10px;
  margin-bottom: 16px;
  border: 1px solid #dadada;
}

.invalid-group {
  border-color: var(--ion-color-danger) !important;
  box-shadow: 0 0 3px var(--ion-color-danger);
}

/* ITEM STYLE */
.combo-item {
  --inner-border-width: 0px !important;
  /* remove underline */
  --border-style: none !important;
}

.item-info {
  margin-left: 12px;
  width: 100%;
  position: relative;

}

.item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-name {
  font-size: 15px;
  font-weight: 500;
}

.item-sub {
  display: flex;
  gap: 14px;
  margin-top: 3px;
  font-size: 13px;
  color:var(--ion-color-medium)
}

.price {
  color: #e85b00;
  font-weight: 600;
}

/* QUANTITY SELECTOR */
.qty-box {
  position: absolute;
  top:20px;
  right:-8px;
  bottom:20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.qty-box ion-icon {
  font-size: 32px;
  color: #0099ff;
  cursor: pointer;
}
ion-button[disabled] ion-icon{
  background-color:  unset !important;
}
.summary-box {
  padding: 10px 16px;
  border-top: 1px solid var(--ion-color-medium);
  margin-bottom: 10px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 4px;
}

.summary-row.total {
  font-weight: bold;
  font-size: 18px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  /* label bên trái, tiền ép qua phải */
  align-items: center;
  width: 100%;
  margin: 4px 0;
}

.summary-row .price {
  text-align: right;
  margin-left: auto;
  /* ép sát qua bên phải */
  font-weight: 600;
}

.summary-row.total .price {
  font-size: 1.1rem;
  font-weight: 700;
}

ion-button[disabled] ion-icon {
  background-color: var(--ion-color-light);
  color: var(--ion-color-medium) !important;
}

.group-box {
	border: 1px solid var(--ion-color-medium);
	padding: 10px;
	border-radius: 6px;
	margin-bottom: 12px;
	position: relative;
}

.group-box.invalid-group {
	border-color: #e74c3c;
}

.group-title {
	position: relative;
	display: inline-block;
}

.error-marker {
	color: #e74c3c;
	font-weight: bold;
	margin-left: 6px;
	cursor: pointer;
	font-size: 18px;
}


.popover-errors {
	padding: 10px;
	max-width: 240px;
	font-size: 13px;
	color: #e74c3c;
	white-space: pre-line;
}

// ion-item.combo-item {
//   --ion-item-background: transparent;
// }

// ion-item.combo-item ion-checkbox ,.qty-box ion-icon {
//   pointer-events: auto;
// }

// ion-item.combo-item::part(native) {
//   pointer-events: none;
// }
// ion-radio {
//   --border-radius: 50%;
//   --inner-border-radius: 50%;

//   --color: #ddd;
//   --color-checked: #000;
// }

// ion-radio.ios::part(container) {
//   width: 20px;
//   height: 20px;

//   border: 2px solid #ddd;
//   border-radius: 50%;
// }

// .radio-checked.ios::part(container) {
//   border-color: #000;
// }