<ion-header>
	<ion-toolbar>
		<ion-title>{{ item?._item?.Name }}: {{item.UoMPrice|number:'1.0-0'}}đ</ion-title>
		<ion-buttons slot="end">
			<ion-button color="secondary" (click)="closeModal()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="header-table">
	<div class="row-full shadow full-screen">
		<ion-list class="combo-list">
			<!-- Lặp qua các group -->
			<div *ngFor="let g of item?._item.Groups" class="group-container">
				<!-- GROUP HEADER -->
				<div class="group-header-row">
					<div class="group-title">{{ g.Name }} &nbsp;</div>
					<div class="group-info">
						<ion-icon *ngIf="!validateGroup(g)" name="alert-circle-outline" color="danger"> </ion-icon>
						<ion-text color="danger" > {{g.Message }}</ion-text>
					</div>
				</div>

				<!-- GROUP ITEMS -->
				<div class="group-box">
					<!-- MULTI SELECT -->
					<ng-container *ngIf="g.AllowMultiple">
						<ion-item *ngFor="let i of g.Items" class="combo-item" lines="none">
							<ion-checkbox slot="start" [checked]="isSelected(g, i)" [disabled]="!canEdit ||disableCheckbox(g, i)" (ionChange)="toggleItem(g, i)"></ion-checkbox>

							<ion-label class="item-info">
								<div class="item-row">
									<div class="item-name">{{ i._Item.Name }}&nbsp;<span *ngIf="i.MaxQuantity" class="tagCustom warn">Max: {{i.MaxQuantity}}</span></div>
									<!-- QUANTITY BOX -->
								</div>
								<div class="item-sub">
									<span class="uom">{{ i._UoM?.Name }}</span>
									<span class="price" *ngIf="i.ExtraPrice > 0">+{{ i.ExtraPrice | number:'1.0-0' }}</span>
								</div>
								<div class="qty-box" *ngIf="isSelected(g, i)">
									<ion-button (click)="decQty(i, g)" [disabled]="!canEdit" fill="clear">
										<ion-icon name="remove-circle-outline"></ion-icon>
									</ion-button>
									<span>{{ selectedItems[g.Id][i.IDUoM] }}</span>
									<ion-button fill="clear" (click)="incQty(i, g)" [disabled]="!canIncrease(i,g)">
										<ion-icon name="add-circle-outline"></ion-icon>
									</ion-button>
								</div>
							</ion-label>
						</ion-item>
					</ng-container>

					<!-- SINGLE SELECT -->
					<!-- <ng-container *ngIf="!g.AllowMultiple">
						<ion-item *ngFor="let i of g.Items" class="combo-item" lines="none">
							<ion-checkbox [disabled]="!canEdit" slot="start" [checked]="isSelected(g, i)" (ionChange)="onCheckboxChangeSingle(g, i, $event)"></ion-checkbox>

							<ion-label class="item-info">
								<div class="item-row">
									<div class="item-name">{{ i._Item.Name }}&nbsp;<span *ngIf="i.MaxQuantity" class="tagCustom warn">Max: {{i.MaxQuantity}}</span></div>

									<div class="qty-box" *ngIf="isSelected(g, i)">
										<ion-icon
											*ngIf="canEdit && !(g.IsRequired && !g.AllowMultiple && selectedItems[g.Id][i.IDUoM] == i.MaxQuantity)"
											name="remove-circle-outline"
											(click)="decQty(i, g)"
										></ion-icon>
										<span>{{ selectedItems[g.Id][i.IDUoM] }}</span>
										<ion-icon
											*ngIf="canEdit && (i.MaxQuantity == null || selectedItems[g.Id][i.IDUoM] < i.MaxQuantity) 
							&& (g.MaxQuantity == null || getGroupTotalQty(g) < g.MaxQuantity)"
											name="add-circle-outline"
											(click)="incQty(i, g)"
										></ion-icon>
									</div>
								</div>

								<div class="item-sub">
									<span class="uom">{{ i._UoM?.Name }}</span>
									<span class="price" *ngIf="i.ExtraPrice > 0">+{{ i.ExtraPrice | number:'1.0-0' }}</span>
								</div>
							</ion-label>
						</ion-item>
					</ng-container> -->
					<ng-container *ngIf="!g.AllowMultiple">
						<ion-radio-group [value]="getSelectedSingle(g)" (ionChange)="onRadioChange(g, $event)">
							<ion-item *ngFor="let i of g.Items" class="combo-item" lines="none">
								<ion-radio slot="start" [value]="i.IDUoM"></ion-radio>

								<ion-label class="item-info">
									<div class="item-row">
										<div class="item-name">{{i._Item.Name }}</div>
										<!-- QUANTITY BOX -->
										<div class="qty-box" *ngIf="isSelected(g, i)">
											<ion-button fill="clear" [disabled]="!canEdit" (click)="decQty(i, g)">
												<ion-icon [color]="" name="remove-circle-outline"></ion-icon>
											</ion-button>

											<span>{{ selectedItems[g.Id][i.IDUoM] }}</span>
											<ion-button fill="clear" [disabled]="!canIncrease(i,g)" (click)="incQty(i, g)">
												<ion-icon name="add-circle-outline"></ion-icon>
											</ion-button>
										</div>
									</div>
									<div class="item-sub">
										<span class="uom">{{ i._UoM?.Name }}</span>
										<span class="price" *ngIf="i.ExtraPrice > 0">+{{ i.ExtraPrice | number:'1.0-0' }}</span>
									</div>
								</ion-label>
							</ion-item>
						</ion-radio-group>
					</ng-container>
				</div>
				<!-- group-box -->
			</div>
			<!-- group-container -->
		</ion-list>
	</div>
</ion-content>
<ion-footer>
	<ion-toolbar>
		<ion-grid>
			<ion-row class="ion-align-items-center">
				<!-- Cột tiền -->
				<ion-col size="8">
					<!-- Hàng tổng tiền -->
					<div class="summary-box">
						<div class="summary-row">
							<span>{{'Total addition' | translate}}:</span>
							<span class="price">+{{ totalExtra | number:'1.0-0' }} đ</span>
						</div>

						<div class="summary-row total">
							<span>{{'Total' | translate}}:</span>
							<span class="price">{{ finalTotal | number:'1.0-0' }} đ</span>
						</div>
					</div>
				</ion-col>
				<ion-col size="4" class="ion-text-right">
					<ion-button *ngIf="canEdit" [disabled]="!isAllGroupsValid()" expand="block" color="primary" (click)="confirmSelection()">
						{{ 'Confirm' | translate }}
					</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-toolbar>
</ion-footer>
