<ion-header>
  <ion-toolbar>
        <ion-title>Voucher</ion-title>
        <ion-buttons slot="primary">  
            <ion-button title="{{'erp.app.pages.sale.sale-order.merge.close-modal' | translate}}" color="secondary" (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme class="ion-padding">
  <div id="pos-discount-page" style="position: absolute;"></div>
  <div class="main-view">
      <ion-grid fixed style="max-width: 500px;" *ngIf="item">
        <ion-row>
          <ion-col>
            <div class="c-control">
                <input (change)="changeCode()" class="c-input c-label"  [(ngModel)]="Code" type="text" placeholder="Nhập mã voucher">    
            </div>                
          </ion-col>
        </ion-row>
        
        <ion-row *ngIf="Voucher">
          <ion-col>
            <ion-item class="c-input" lines="none">
              <ion-label slot="start">{{Voucher.Name}}</ion-label>
              <ion-text slot="start" color="primary">giảm {{Voucher.Value | number: '1.0-0'}} đ</ion-text>
              <ion-button slot="end" (click)="applyVoucher(Voucher)">Áp dụng</ion-button>
            </ion-item>                
          </ion-col>
        </ion-row>
       
        <ion-row *ngFor="let i of items">
          <ion-col>
            <ion-item class="c-input" lines="none">
              <ion-label slot="start">{{i.Name}}</ion-label>
              <ion-text slot="start" color="primary">giảm {{i.Value | number: '1.0-0'}} đ</ion-text>
              <ion-button slot="end" (click)="applyVoucher(i)">Áp dụng</ion-button>
            </ion-item>               
          </ion-col>
        </ion-row>
        <!-- <ion-row class="sticky-btn">
          <ion-col >
              <div class="c-control ion-text-center">
                  <ion-button expand="block"  (click)="applyVoucher(true)">Áp dụng</ion-button>
              </div>
          </ion-col>
        </ion-row> -->
      </ion-grid>
  </div>
</ion-content>
