<ion-header>
	<ion-toolbar>
		<ion-title>Voucher</ion-title>
		<ion-buttons slot="primary">
			<ion-button title="{{'Close' | translate}}" color="secondary" (click)="closeModal()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme class="ion-padding">
	<div id="pos-discount-page" style="position: absolute"></div>
	<div class="main-view">
		<ion-grid fixed style="max-width: 500px" *ngIf="SaleOrder">
			<ion-row>
				<ion-col>
					<div class="c-control">
						<input (change)="changeCode()" class="c-input c-label" [(ngModel)]="Code" type="text" placeholder="Nhập mã voucher" />
					</div>
				</ion-col>
			</ion-row>

			<ion-row *ngIf="Voucher">
				<ion-col size="12">
					<ion-card>
						<ion-card-header class="ion-text-center">
							<ion-text>{{Voucher.Program.Name}}</ion-text>
							<ng-container *ngIf="Voucher.Program.Remark != null">
								<ion-icon class="ion-float-right" id="voucher-trigger" name="help-circle-outline"></ion-icon>
								<ion-popover trigger="voucher-trigger" triggerAction="click">
									<ng-template>
										<ion-content class="ion-padding">{{Voucher.Program.Remark}}</ion-content>
									</ng-template>
								</ion-popover>
							</ng-container>
						</ion-card-header>
						<ion-card-content>
							<div class="ion-text-center">
								<ion-text color="danger"><h4>{{Voucher.Program.Value | number: '1.0-0'}} đ</h4></ion-text>
							</div>
							<ion-button expand="block" size="small" [disabled]="!Voucher.CanUse" slot="end" (click)="applyVoucher(Voucher)">{{'Áp dụng' | translate}}</ion-button>
							<!-- <ion-button expand="block" size="small" [disabled]="Voucher.Used" *ngIf="Voucher.Used == true" slot="end">{{'Đã áp dụng' | translate}}</ion-button> -->
						</ion-card-content>
					</ion-card>
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col size="12" *ngFor="let i of items; let j = index;">
					<div class="coupon" [class.coupon-disabled]="!i.CanUse">
						<div class="coupon-left">
							<ion-icon size="large" name="ticket-outline"></ion-icon>
						</div>

						<div class="coupon-right">
							<span *ngIf="!i.Program.IsByPercent">{{'Reduce' | translate}} {{i.Program.Value | number: '1.0-0'}}</span>
							<span *ngIf="i.Program.IsByPercent" >{{'Reduce' | translate}} {{i.Program.PerCentValue }}% <span *ngIf="i.Program.MaxValue > 0">{{'Max' | translate}} {{i.Program.MaxValue | number: '1.0-0'}} </span></span>

							<small *ngIf="i.Program.MinOrderValue">
								{{'For orders from' | translate}} {{i.Program.MinOrderValue | number: '1.0-0'}}
								<span *ngIf="i.Program.MaxValue"> - {{'Maximum'| translate}} {{i.Program.MaxValue | number: '1.0-0'}}</span>
							</small>
							<small *ngIf="i.Program.ToDate">{{'Expiry' | translate}}: {{i.Program.ToDate | date: 'dd/MM/yyyy'}}</small>
						</div>
						<ion-button class="apply-btn" expand="block" size="small" [disabled]="!i.CanUse" slot="end" (click)="applyVoucher(i)">{{'Áp dụng' | translate}}</ion-button>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
