<ion-header>
	<app-list-toolbar pageTitle="{{'erp.app.pages.pos.pos-table.page-title' | translate}}" [pageConfig]="pageConfig"
		[selectedItems]="selectedItems" [query]="query" [ShowAdd]="false" [ShowSearch]="false" [ShowArchive]="true"
		[ShowFeature]="false" (refresh)="refresh()" (help)="help()" (archiveItems)="archiveItems()">
		<ion-buttons slot="end">
			<ion-button title="{{'erp.app.pages.bi.dashboard.show-feature' | translate}}"
				(click)="pageConfig.isShowFeature = !pageConfig.isShowFeature;">
				<ion-icon slot="icon-only"
					[name]="pageConfig.isShowFeature? 'close-outline':'list-circle-outline'"></ion-icon>
			</ion-button>
		</ion-buttons>
	</app-list-toolbar>
</ion-header>

<ion-content appScrollbarTheme>
	<div class="ion-padding" style="min-height: calc(100vh - 110px);">
		<ion-grid fixed>
			<ng-container *ngFor="let g of tableGroupList; let lastitem = last ;">
				<ion-row>
					<ion-col size="10" size-sm="10" size-md="10" size-xl="10">
						<div class="edit">
							<ion-list-header class="ion-no-padding " style=" float: left;">
								<ion-label class="ion-no-margin " color="primary">{{g.Name}}</ion-label>
								<ion-buttons class="edit-button">
									<ion-button fill="clear" size="small" (click)="showModalTableGroup(g)"
										title="{{'Sửa nhóm bàn' | translate}}">
										<ion-icon name="pencil" slot="icon-only"></ion-icon>
									</ion-button>
									<ion-button fill="clear" size="small" (click)="deleteitem(g,true)"
										title="{{'Xóa nhóm bàn' | translate}}">
										<ion-icon name="trash-outline" slot="icon-only"></ion-icon>
									</ion-button>
								</ion-buttons>
							</ion-list-header>
						</div>

					</ion-col>
					<ion-col size="2" size-sm="2" size-md="2" size-xl="2" class="ion-text-end">
						<ion-button fill="clear" class="ion-no-padding" (click)="add(g.Id,false)"
							title="{{'Thêm bàn mới' | translate}}" [hidden]="!pageConfig.canAdd">
							<ion-icon name="add" slot="icon-only"></ion-icon>
						</ion-button>
					</ion-col>

				</ion-row>
				<ion-row class="table-holder">
					<ion-col class="shadow table-item" [ngClass]="{'in-serve': i.Order, 'test-btn': i.NeedPrint}"
						*ngFor="let i of g.TableList">
						<ion-button fill="clear" size="small" (click)="deleteitem(i)" class="table-item-icon"
							[hidden]="!pageConfig.canDelete">
							<ion-icon name="trash-outline" slot="icon-only"></ion-icon>
						</ion-button>
						<div class="col-checkbox cell">
							<input (click)="changeSelection(i, $event)" class="c-checkbox" [(ngModel)]="i.checked" type="checkbox">
						</div>
						<a (click)="showModalTable(i)">

							<span class="table-name">{{i.Name}}</span>

						</a>
					</ion-col>
				</ion-row>				

				<ion-row *ngIf="lastitem">
					<ion-col size="10" size-sm="10" size-md="10" size-xl="10">
						<a (click)="add(null,true)" title="{{'Thêm nhóm bàn' | translate}}">
							<ion-list-header class="ion-no-padding">
								<ion-button fill="clear" class="ion-no-padding">
									<ion-icon name="add" slot="icon-only"></ion-icon>
								</ion-button>
								<ion-label color="primary">Thêm nhóm bàn</ion-label>
							</ion-list-header>
						</a>
					</ion-col>
				</ion-row>
			</ng-container>

		</ion-grid>
	</div>

	<ion-infinite-scroll color="primary" threshold="20%" (ionInfinite)="loadData($event)"
		[disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>



</ion-content>