<ion-header>
	<app-toolbar [page]="this">
		<span startTitle>{{numberOfDinnerPax + 'P - '+ numberOfReal+'Đ - '+numberOfKid+'T - '+numberOfForeigner+'N'}}</span>
	</app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="header-table" scroll-x="true">
	<app-data-table
		class="box-shadow responsive"
		[rows]="items"
		[trackBy]="'Id'"
		[(selectedRows)]="selectedItems"
		[showSpinner]="pageConfig.showSpinner"
		[showFilter]="pageConfig.isShowSearch"
		[(query)]="query"
		(dataInfinite)="loadData($event)"
		(filter)="onDatatableFilter($event)"
		(sort)="onSort($event)"
		(selectedRowsChange)="showCommandBySelectedRows($event)"
	>
		<datatable-column [checkbox]="true" name=""></datatable-column>
		<datatable-column class="col-date" format="dd/MM/yy hh:mm" name="Party date" property="PartyDate" filterControlType="date"></datatable-column>
		<!-- <datatable-column class="col-id" name="#" property="Id" [navLink]="pageConfig.pageName" [sticky]="true"></datatable-column> -->
		<datatable-column class="col-name bold" name="Customer name" property="CustomerName" [navLink]="pageConfig.pageName" [sticky]="true"></datatable-column>
		<datatable-column class="col-code phone" name="Telephone" property="Phone">
			<ng-template let-i="row" datatable-cell-template>
				<a *ngIf="i.Phone" href="tel:{{i.Phone}}">{{i.Phone}}</a>
				<ion-button *ngIf="i.Phone" href="https://zalo.me/{{i.Phone}}" target="_blank" fill="clear" color="primary" size="small">
					<ion-icon slot="icon-only" name="zalo"></ion-icon>
				</ion-button>
			</ng-template>
		</datatable-column>

		<datatable-column class="col-code" name="Table" property="RegisteredTable">
			<ng-template let-i="row" datatable-cell-template>
				<ng-container *ngIf="i._tables != '' ">
					<span class="regis">{{i._tables}}</span>
				</ng-container>
				<span *ngIf="i._tables == '' && i.RegisteredTable" class="regis">{{i.RegisteredTable}}</span>
			</ng-template>
		</datatable-column>

		<datatable-column class="col-number kid" format="1.0-0" name="Dinner/Pax" property="DinnerPax">
			<ng-template let-i="row" datatable-cell-template>
				<ion-text color="primary" *ngIf="i.DinnerPax">
					<b>{{i.DinnerPax}}</b>
				</ion-text>
			</ng-template>
		</datatable-column>

		<datatable-column class="col-number" format="1.0-0" name="Real field" property="RealField">
			<ng-template let-i="row" datatable-cell-template>
				<ion-text color="success" *ngIf="i.RealField">
					<b>{{i.RealField}}</b>
				</ion-text>
				<ion-text color="warning" class="small-kid" *ngIf="i.Kids">+{{i.Kids}}<small>T</small></ion-text>
				<ion-text color="danger" class="small-kid" *ngIf="i.ForeignerNo">+{{i.ForeignerNo}}<small>N</small></ion-text>
				<span class="small-kid" *ngIf="i.RealField || i.Kids || i.ForeignerNo">/</span>
				<span class="small-kid">{{i.DinnerPax}}</span>
			</ng-template>
		</datatable-column>

		<datatable-column class="col-number kid" name="Kids" property="Kids">
			<ng-template let-i="row" datatable-cell-template>
				<ion-text color="warning">
					<b>{{i.Kids}}</b>
				</ion-text>
			</ng-template>
		</datatable-column>

		<datatable-column class="col-number kid" name="Foreign" property="ForeignerNo">
			<ng-template let-i="row" datatable-cell-template>
				<ion-text color="danger">
					<b>{{i.ForeignerNo}}</b>
				</ion-text>
			</ng-template>
		</datatable-column>

		<datatable-column class="col-code" name="Banquet type" property="TypeOfParty"></datatable-column>

		<datatable-column class="col-remark" name="Remark" property="Remark"></datatable-column>
		<datatable-column class="col-code" name="DiningCard" property="DiningCard"></datatable-column>
		<datatable-column class="col-code" name="Count" property="NoRecords"></datatable-column>
		<datatable-column class="col-code" name="Group" property="CustomerGroup"></datatable-column>
		<datatable-column class="col-code" name="Customer type" property="CustomerType"></datatable-column>

		<datatable-column class="col-status" name="Status" property="Status" filterControlType="ng-select-status" [filterDataSource]="statusList">
			<ng-template let-i="row" datatable-cell-template>
				<ion-badge [color]="i.StatusColor" [title]="i.StatusText"> {{i.StatusText | translate}} </ion-badge>
			</ng-template>
		</datatable-column>
	</app-data-table>

	<div class="ion-padding"></div>
	<ion-infinite-scroll color="primary" threshold="30%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
