::ng-deep {
	app-data-table{

		.col-remark {
			min-width: 370px;
			max-width: 100%;
		}
		.phone {
			max-width: 135px !important;
			min-width: 135px !important;
		}
		.col-code {
			max-width: 115px;
			min-width: 50px;
		}
		.col-status {
			max-width: 95px;
			min-width: 95px;
		}
		
		.cell {
			white-space: normal !important;
		}
		.col-remark {
			white-space: pre-line !important;
		}
		.col-number {
			max-width: 100px;
			min-width: 45px;
		}
		.small-kid {
			display: none;
		}
		
		@media screen and (max-width: calc(1164px)) {
			//1610px
			.empty,
			.kid {
				display: none;
			}
			.small-kid {
				display: inline;
			}
		
			.row {
				.dinning-card {
					order: 5;
					span {
						margin-left: 5px;
					}
				}
		
				hr {
					order: 3;
				}
		
				.col-remark {
					max-width: fit-content !important;
					min-width: fit-content !important;
					font-weight: bold;
					order: 4;
				}
		
				.remark {
					font-weight: normal !important;
					white-space: pre-line !important;
					order: 7;
					min-width: calc(100% + 100px) !important;
				}
		
				.phone {
					order: 4;
					color: var(--ion-color-primary);
				}
				.regis {
					font-size: 90% !important;
					font-weight: bold;
					border-left: solid 3px rgba(var(--ion-color-primary-rgb, 0, 0, 0), 0.2);
					background-color: rgba(var(--ion-color-primary-rgb, 0, 0, 0), 0.2);
				}
			}
		}
		
	}
}
.table {
	min-width: 1500px;
}
