<ion-header>
    <ion-toolbar> 
        <ion-title>Đơn hàng #{{item.Id}}</ion-title>
        <ion-buttons slot="primary">
            <ion-button title="{{'erp.app.pages.sale.sale-order.merge.close-modal' | translate}}" color="primary" (click)="refresh()">
                <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
            </ion-button>
            <ion-button title="{{'erp.app.pages.sale.sale-order.merge.close-modal' | translate}}" color="secondary" (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme class="ion-padding">
    <div id="pos-payment-page" style="position: absolute;"></div>
    <div >
        <ion-grid fixed style="max-width: 670px;">
            <ion-row>
                <ion-col size="12" class="ion-text-center">
                    <ion-text >Tổng Tiền Phải Thanh Toán</ion-text>
                    <ion-text color="primary"><b><h5>{{item.CalcTotalOriginal - item.OriginalDiscountFromSalesman | number: '1.0-0'}} đ</h5></b></ion-text>
                </ion-col>

                <ion-col size="12" *ngIf="items.length>0">
                    <div class="c-control">
                        <div class="c-label header-title-payment ion-text-center"><ion-text color="primary">Các lần thanh toán</ion-text></div>
                        <div class="table-contain">
                            <section class="table">
                                <header class="bold">   
                                                                                            
                                    <div class="col-type cell">Hình thức</div>                              
                                    <div class="col-status cell">Trạng thái</div>                                  
                                    <div class="col-money cell" style="padding-right: 0px;">Số tiền</div> 
                                    <div class="col-money cell" style="padding-right: 0px;">Hoàn lại</div>
                                    <div class="col-remark cell" style="padding-right: 0px;">Ghi chú</div>                                                                      
                                </header>
                                <div class="row" [ngClass]="{odd: idx % 2 != 0 }" *ngFor="let i of payments, let idx = index;">
                                                                     
                                    <div class="col-type cell" style="display: block;">
                                        {{i.IncomingPayment.TypeText}}
                                        <div class="clickable" (click)="toDetail(i.IncomingPayment.Code)"><small style="margin-left: 0px;"><ion-text color="primary">{{i.IncomingPayment.PaymentCode}}</ion-text></small></div>
                                        <div >
                                            <small style="margin-left: 0px;"><ion-text color="primary">{{i.IncomingPayment.CreatedDateText}}</ion-text></small> <small *ngIf="i.CreatedTimeText != '00:00' ">{{i.IncomingPayment.CreatedTimeText}}</small>
                                        </div>
                                    </div>                                
                                    <div class="col-status cell">
                                        <ion-text class="bar-title" [color]="i.IncomingPayment.StatusColor">{{i.IncomingPayment.StatusText}}</ion-text> 
                                    </div>
                                    
                                    <div class="col-money cell">
                                        {{i.IncomingPayment.Amount | number: '1.0-0'}} đ
                                    </div>
                                    <div class="col-money cell">
                                        <ng-container *ngIf="i.IncomingPayment.TotalRefund > 0">
                                            <ion-text title="xem chi tiết" class="clickable" color="dark" id="refund-trigger-{{idx}}"> {{i.IncomingPayment.TotalRefund | number: '1.0-0'}} đ </ion-text>
                                            <ion-popover trigger="refund-trigger-{{idx}}" triggerAction="click">
                                              <ng-template>
                                                <ion-content>
                                                    <ion-item *ngFor="let r of i.IncomingPayment.Refund" lines="full">
                                                        <ion-text slot="start">
                                                            <div>{{r.IncomingPayment.TypeText}} <ion-text *ngIf="r.IncomingPayment.Type=='Card' || r.IncomingPayment.Type=='Transfer'">| <small>{{r.IncomingPayment.SubType}}</small></ion-text></div>
                                                            <div><small>{{r.IncomingPayment.StatusText}} <ion-text color="danger" *ngIf="r.IncomingPayment.Remark!=null"> ({{r.IncomingPayment.Remark}})</ion-text></small></div>                                                      
                                                        </ion-text>
                                                        <ion-text slot="end">
                                                            <ion-text class="text-right" color="primary">{{r.IncomingPayment.Amount | number: '1.0-0'}} đ</ion-text>                                                       
                                                        </ion-text>
                                                    </ion-item>
                                                </ion-content>
                                              </ng-template>
                                            </ion-popover>
                                        </ng-container>
                                        
                                    </div>
                                    <div class="col-remark cell">
                                        {{i.IncomingPayment.Remark}}
                                    </div>
                                                                                              
                                </div>
                            </section>
                        </div>
                    </div>
                </ion-col>
                <ion-col size="12">
                      
                    <ion-item lines="none" class="item-row">  
                        <ion-text slot="start">Đã thanh toán</ion-text>                                                                                                                                 
                        <ion-label slot="end" color="primary">{{PaidAmounted | number: '1.0-0'}} đ</ion-label>
                    </ion-item>
                    <ion-item *ngIf="DebtAmount > 0" lines="none" class="item-row">  
                        <ion-text slot="start">Còn lại</ion-text>                                                                                                                                 
                        <ion-label slot="end" color="primary">{{DebtAmount | number: '1.0-0'}} đ</ion-label>
                    </ion-item>                 
                    <div *ngIf="DebtAmount > 0 &&  item.Status != 'Splitted' && item.Status != 'Merged' && item.Status != 'Cancelled' && item.Status != 'Done'" class="c-control ion-text-center">                          
                        <ion-button color="primary" (click)="toPayment()" expand="block">Thanh toán</ion-button>                                                         
                    </div>                                  
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>