

.remove-padding {
	padding: 0px !important;
}

.remove-margin {
	margin-bottom: 0px !important;
}

.list-header {
	display: flex;
}


ion-list-header {
	ion-label {
		margin-top: 0px !important;
	}
}


app-page-message {
	.message-container {
		transform: scale(0.8) !important;
	}
}

.outer {
	overflow: hidden;
}

.outer i {
	width: 27px;
	height: 15px;
	// border: 1px solid #888;
	border-radius: 20px;
	background-color: var(--ion-background-color);
	box-shadow: inset 3px 3px 5px 0px rgb(0 0 0 / 15%);
}

.inner {
	// border: 1px solid #888;

	.inner i {
		width: 27px;
		height: 15px;
		// border: 1px solid #888;
		border-radius: 20px;
		background-color: var(--ion-background-color);
		box-shadow: inset 3px 3px 5px 0px rgb(0 0 0 / 15%);
	}

	.inner .top {
		margin-top: -9px;
	}

	.inner .bottom {
		margin-top: -5px;
		margin-bottom: -22px;
	}

	.inner .left {
		float: left;
		margin-left: -21px;
	}

	.inner .right {
		float: right;
		margin-right: -21px;
	}

	.content {
		min-height: 90px;
		// width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.date-expire {
			margin-top: 10px;
		}

		.name {
			font-size: 12px;
		}

		.voucher-icon {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			ion-icon {
				font-size: 26px;
			}
		}
	}
}

.c-control .c-input[type=textarea] {
	height: 9rem;
}

textarea {
	background-color: transparent;
	min-width: 100%;
	max-width: 100%;
	min-height: 30px;
	// max-height: 60px;
	line-height: 17px;
	font-size: 1.2rem !important;
	font-style: italic;
	// color: var(--ion-color-warning);
	// border: solid 1px var(--ion-color-warning);
	border-radius: 5px;
}


.memo-group-list {
	display: flex;
	overflow-x: scroll;
	width: 100%;

	.memo-group {
		min-width: 65px;
		max-width: 65px;
		height: 60px;
		margin-bottom: 8px;
		margin-right: 10px;
		font-size: 10px;
		text-align: center;
		text-transform: capitalize;
		cursor: pointer;
		background: #fff;
		padding: 10px;
		border-radius: 10px;

		ion-label {
			display: block;
			/* font-size: 8px; */
			font-weight: bold;
			padding: 0 5px;
			text-transform: uppercase;
			margin-top: 5px;
		}
	}

	.memo-group.selected {
		background-color: rgba(var(--ion-color-primary-rgb, 0, 0, 0), 0.15);
	}
}

.feature {
	width: 150px;
	left: 0px;
}

.memo-holder {
	min-width: 180px;
	max-width: 180px;

	ion-card {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 100%;
        min-height: 60px;
        margin: 0px auto;
        background: linear-gradient(180deg, var(--feature-background-top), var(--feature-background-bottom));
        color: var(--ion-color-dark);
        cursor: pointer;
        padding: 1rem;

		
	}

	ion-card.selected {
		color: var(--ion-color-primary-contrast);
        background: linear-gradient(180deg, var(--ion-color-primary), var(--ion-color-primary));
	}
}

.modal {
	--height: 570px !important;
	--width: 900px !important;
}

.main-view{
    margin-left: 150px;
}

.card-list{
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 125px);
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}

.sticky-btn {
	position: sticky;
    padding: 16px;
	bottom: 0px;
	z-index: 20;
	background-color: var(--ion-background-color);
    border-top: solid 1px var(--menu-right-border-color);
    box-shadow: 0px -2px 5px 0 rgb(0 0 0 / 10%);
}
