<ion-header>
	<ion-toolbar>
		<ion-title>Chọn Lý Do Hủy</ion-title>
		<ion-buttons slot="primary">
			<ion-button (click)="dismissCancelModal()" title="{{'erp.app.pages.sale.sale-order.merge.close-modal' | translate}}" color="medium">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>

	</ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme scrollY="false" scrollX="false">
	<div class="cancel-message">
		<ion-icon  size="large" name="alert-circle-outline"
		class="cancel-message-icon"></ion-icon>
		Vui lòng chọn lý do hủy.Với lý do này, bạn sẽ hủy tất cả sản phẩm có trong đơn hàng và không thể thay đổi sau đó.
	</div>
	<ion-list>
		<ion-radio-group  [(ngModel)]="selectedReason"  (ionChange)="onRadioGroupChange()">
			<ion-item>
				<ion-radio slot="start" aria-label="Danger" color="danger" class="radio-icon" value="Muốn nhập/thay đổi mã Voucher" mode="md"></ion-radio>
				<ion-label style="white-space: normal;">Muốn nhập/thay đổi mã Voucher</ion-label>
			</ion-item>
			<ion-item>
				<ion-radio slot="start" aria-label="Danger" color="danger" class="radio-icon" value="Muốn thay đổi sản phẩm trong đơn hàng(size,số lượng,...)" mode="md"></ion-radio>
				<ion-label style="white-space: normal;">Muốn thay đổi sản phẩm trong đơn hàng(size,số lượng,combo,...)</ion-label>
			</ion-item>
			<ion-item>
				<ion-radio slot="start" aria-label="Danger" color="danger" class="radio-icon" value="Thủ trục thanh toán quá rắc rối" mode="md"></ion-radio>
				<ion-label style="white-space: normal;">Thủ trục thanh toán quá rắc rối</ion-label>
			</ion-item>
			<ion-item>
				<ion-radio slot="start" aria-label="Danger" color="danger" class="radio-icon" value="Đổi ý không muốn mua nữa" mode="md"></ion-radio>
				<ion-label style="white-space: normal;">Đổi ý không muốn mua nữa</ion-label>
			</ion-item>
			<ion-item>
				<ion-radio slot="start" aria-label="Danger" color="danger" class="radio-icon" value="Chờ lên món quá lâu" mode="md"></ion-radio>
				<ion-label style="white-space: normal;">Chờ lên món quá lâu</ion-label>
			</ion-item>
			<ion-item >
				<ion-radio   slot="start" aria-label="Danger" color="danger" class="radio-icon" value="Lý do khác" mode="md"></ion-radio>
				<ion-label style="white-space: normal;">Lý do khác</ion-label>
			</ion-item>
			<ion-item>
				<ion-textarea style="background-color: snow;" *ngIf="isShow" class="c-text-area ion-text-left" [(ngModel)]="noteReason" (ionChange)="onOtherReasonChange()" autoGrow></ion-textarea>
			</ion-item>
		</ion-radio-group>
	</ion-list>
</ion-content>
<ion-footer>
	<ion-toolbar>
		<ion-button color="danger" (click)="confirm(selectedReason)" expand="full">ĐỒNG Ý</ion-button>
	</ion-toolbar>
</ion-footer>
  

