<ion-header collapse="fade">
	<ion-toolbar>
		<ion-title>{{'Billing address' | translate}}</ion-title>
		<ion-buttons slot="primary">
			<ion-button title="{{'Close' | translate}}" color="primary" (click)="reset()">
				<ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
			</ion-button>
			<ion-button title="{{'Close' | translate}}" color="secondary" (click)="Apply()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme>
	<div id="ng-select" style="position: absolute; z-index: 30005"></div>

	<div class="ion-padding">
		<form [formGroup]="taxInfoGroup">
			<ion-grid fixed>
				<ion-row>
					<ion-col size="12" size-sm="12" size-md="12" size-xl="12" *ngIf="!_isDefaultBP">
						<app-form-control
							[field]="{id:'_OptionCode', label:'Invoice required', type:'ng-select',dataSource:TaxCodeDataSource, bindLabel:'CompanyName' ,bindValue:'Id',form:formGroup , appendTo: '#ng-select'}"
							(change)="changeSelectTaxCode($event)"
						>
							<ng-template input-control-template ng-label-tmp let-i="item">
								<span *ngIf="i.CompanyName">{{i.CompanyName}}</span>
								<span *ngIf="!i.CompanyName">{{i.Name}}</span>
							</ng-template>
							<ng-template input-control-template ng-option-tmp let-i="item" let-search="searchTerm">
								<div *ngIf="i">
									<span *ngIf="i.CompanyName">{{i.CompanyName}}</span>
									<span *ngIf="!i.CompanyName">{{i.Name}}</span>
								</div>
							</ng-template>
						</app-form-control>
						<div *ngIf="!_isDefaultBP" class="c-control" style="margin-top: -15px; margin-bottom: 1.25rem; text-align: right">
							<ion-button size="small" fill="outline" (click)="addNewTaxInfo()">
								<ion-icon slot="start" name="add-circle-outline"></ion-icon>
								{{'Create new tax info' | translate}}
							</ion-button>
						</div>
					</ion-col>

					<ion-col *ngIf="_isDefaultBP" size="12" size-sm="12" size-md="12" size-xl="12">
						<app-form-control [field]="{id:'WorkPhone', label:'Phone number', type:'text',form:formGroup}"></app-form-control>

						<div class="c-control" style="margin-top: -15px; margin-bottom: 1.25rem; text-align: right">
							<ion-button size="small" fill="outline" (click)="checkPhoneNumber()"> {{'Check' | translate}} </ion-button>
						</div>
						<app-form-control [field]="{id:'Name', label:'Customer', type:'text',form:formGroup}"></app-form-control>
						<app-form-control [field]="{id:'Email', label:'Email', type:'text',form:formGroup}"></app-form-control>
					</ion-col>
					<ion-col size="12" size-sm="12" size-md="12" size-xl="12">
						<ion-list-header *ngIf="isShowInfo || _isDefaultBP" class="ion-no-padding">
							<ion-label color="primary">{{'Invoice information' | translate}}</ion-label>
						</ion-list-header>
					</ion-col>
					<ion-col size="12" size-sm="12" size-md="12" size-xl="12">
						<app-form-control
							*ngIf="_isDefaultBP || formGroup.controls._OptionCode.value =='AddNew'"
							[field]="{id:'optionalTax', label:'Tax code', type:'radio',form:taxInfoGroup, dataSource: [{Code: 'hasTax', Name: 'Has tax identification number'}, {Code: 'noTax', Name: 'No tax identification number'}] }"
							(change)="hasTaxChange($event)"
						></app-form-control>

						<ng-container *ngIf="isShowInfo || _isDefaultBP">
							<app-form-control
								*ngIf="optionalTax == 'hasTax'"
								[field]="{id:'TaxCode', label:'Tax code', type:'text',form:taxInfoGroup}"
								(change)="changeTaxCode($event)"
							></app-form-control>

							<app-form-control
								*ngIf="optionalTax == 'noTax'"
								[field]="{id:'Name', label:'Personal / organization name', type:'text',form:taxInfoGroup}"
							></app-form-control>

							<app-form-control *ngIf="optionalTax == 'hasTax'" [field]="{id:'CompanyName', label:'Company name', type:'text',form:taxInfoGroup}"></app-form-control>

							<app-form-control [field]="{id:'BillingAddress', label:'Address', type:'text',form:taxInfoGroup}"></app-form-control>
							<app-form-control
								*ngIf="optionalTax == 'noTax'"
								[field]="{id:'IdentityCardNumber', label:'Identity card number', type:'text',form:taxInfoGroup}"
							></app-form-control>

							<app-form-control [field]="{id:'WorkPhone', label:'WorkPhone', type:'text',form:taxInfoGroup}"></app-form-control>

							<app-form-control [field]="{id:'Email', label:'Email', type:'text',form:taxInfoGroup}"></app-form-control>
							<app-form-control
								*ngIf="isShowInfo || _isDefaultBP"
								[field]="{id:'IsDefault', label:'Default tax info', type:'checkbox',form:taxInfoGroup}"
							></app-form-control>
						</ng-container>
					</ion-col>
				</ion-row>
			</ion-grid>
		</form>
	</div>
</ion-content>

<ion-footer collapse="fade">
	<ion-toolbar>
		<div slot="end">
			<ion-button (click)="Apply()" fill="outline" color="warning">{{'Cancel' | translate}}</ion-button>
			<ion-button [disabled]="!_canAddEInvoiceInfo" (click)="Apply(true)" [strong]="true" color="success">{{'Apply' | translate}}</ion-button>
		</div>
	</ion-toolbar>
</ion-footer>
