<ion-header>
  <ion-toolbar>
    <ion-title>Hóa đơn</ion-title>
    <ion-buttons slot="primary">
      <ion-button title="{{'erp.app.pages.sale.sale-order.merge.close-modal' | translate}}" color="secondary" (click)="applyInvoice()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-view">
    <ion-grid fixed style="max-width: 500px;" *ngIf="item">
      <ion-row>
        <ion-col>
          <ng-container *ngIf="Customer.Id != 922">
            <div class="c-control">
                <label class="c-label" for="CompanyName">Tên công ty</label>
                <input class="c-input" id="CompanyName" [(ngModel)]="Customer.Name" type="text">
            </div>      
            <div class="c-control">
              <label class="c-label" for="Phone">Số điện thoại</label>
              <input class="c-input" id="Phone" [(ngModel)]="Customer.WorkPhone" type="text">
            </div>     
            <div class="c-control">
                <label class="c-label" for="CompanyAddress">Địa chỉ công ty</label>
                <input class="c-input" id="CompanyAddress" [(ngModel)]="Customer.Address.AddressLine1" type="text">
            </div>  
               
            <div class="c-control">
                <label class="c-label" for="EmailAddress">Địa chỉ email</label>
                <input class="c-input" id="EmailAddress" [(ngModel)]="item.EmailAddress" type="text">
            </div>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  
</ion-content>
