<ion-header>
	<ion-toolbar>
		<ion-title>Thông tin xuất hóa đơn</ion-title>
		<ion-buttons slot="primary">
			<ion-button title="{{'Close' | translate}}" color="primary" (click)="reset()">
				<ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
			</ion-button>
			<ion-button title="{{'Close' | translate}}" color="secondary" (click)="Apply()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme>
	<div class="ion-padding">
		<form [formGroup]="taxInfoGroup">
			<ion-grid fixed>
				<ion-row>
					<ion-col size="12" size-sm="12" size-md="12" size-xl="12">
						<ion-list-header class="ion-no-padding">
							<ion-label color="primary">{{'Invoice information' | translate}}</ion-label>
						</ion-list-header>
					</ion-col>
					<ion-col size="12" size-sm size-xl="12">
						<div class="c-control">
							<label class="c-label" for="TaxCode"
								>Mã số thuế
								<span
									*ngIf="!taxInfoGroup['controls'].TaxCode.valid && !taxInfoGroup['controls'].TaxCode.pending && (taxInfoGroup['controls'].TaxCode.dirty || submitAttempt)"
									ion-text
									color="danger"
									>(*)</span
								>
							</label>
							<input (change)="changeTaxCode($event)" class="c-input" id="TaxCode" formControlName="TaxCode" type="text" />
						</div>
						<div class="c-control">
							<label class="c-label" for="CompanyName"
								>{{'Tên Công Ty' | translate}}
								<span
									*ngIf="!taxInfoGroup['controls'].CompanyName.valid && !taxInfoGroup['controls'].CompanyName.pending && (taxInfoGroup['controls'].CompanyName.dirty || submitAttempt)"
									ion-text
									color="danger"
									>(*)</span
								>
							</label>
							<input class="c-input" id="CompanyName" formControlName="CompanyName" type="text" />
						</div>
						<div class="c-control">
							<label class="c-label" for="BillingAddress"
								>{{'Địa chỉ công ty' | translate}}
								<span
									*ngIf="!taxInfoGroup['controls'].BillingAddress.valid && !taxInfoGroup['controls'].BillingAddress.pending && (taxInfoGroup['controls'].BillingAddress.dirty || submitAttempt)"
									ion-text
									color="danger"
									>(*)</span
								>
							</label>
							<input class="c-input" id="BillingAddress" formControlName="BillingAddress" type="text" />
						</div>

						<div class="c-control">
							<label class="c-label" for="Name"
								>{{'Customer' | translate}}
								<span
									*ngIf="!taxInfoGroup['controls'].Name.valid && !taxInfoGroup['controls'].Name.pending && (taxInfoGroup['controls'].Name.dirty || submitAttempt)"
									ion-text
									color="danger"
									>(*)</span
								>
							</label>
							<input class="c-input" id="Name" formControlName="Name" type="text" />
						</div>

						<div class="c-control">
							<label class="c-label" for="IdentityCardNumber"
								>Số CCCD
								<span
									*ngIf="!taxInfoGroup['controls'].IdentityCardNumber.valid && !taxInfoGroup['controls'].IdentityCardNumber.pending && (taxInfoGroup['controls'].IdentityCardNumber.dirty || submitAttempt)"
									ion-text
									color="danger"
									>(*)</span
								>
							</label>
							<!-- (change)="saveChange()" -->
							<input class="c-input" id="IdentityCardNumber" formControlName="IdentityCardNumber" type="text" />
						</div>

						<div class="c-control">
							<label class="c-label" for="Email"
								>Email
								<span
									*ngIf="!taxInfoGroup['controls'].Email.valid && !taxInfoGroup['controls'].Email.pending && (taxInfoGroup['controls'].Email.dirty || submitAttempt)"
									ion-text
									color="danger"
									>(*)</span
								>
							</label>
							<input class="c-input" id="Email" formControlName="Email" type="text" />
							<!-- (change)="saveChange()" -->
						</div>

						<div class="c-control">
							<label class="c-label" for="WorkPhone"
								>Phone
								<span
									*ngIf="!taxInfoGroup['controls'].WorkPhone.valid && !taxInfoGroup['controls'].WorkPhone.pending && (taxInfoGroup['controls'].WorkPhone.dirty || submitAttempt)"
									ion-text
									color="danger"
									>(*)</span
								>
							</label>
							<input class="c-input" id="WorkPhone" formControlName="WorkPhone" type="text" />
							<!-- (change)="saveChange()" -->
						</div>

						<app-form-control [field]="{id:'IsDefault', label:'Default tax info', type:'checkbox',form:taxInfoGroup}"></app-form-control>
					</ion-col>
				</ion-row>
			</ion-grid>
		</form>
	</div>
</ion-content>

<ion-footer>
	<div class="ion-padding">
		<div class="c-control ion-text-right">
			<label class="c-label" for=""></label>
			<ion-button [disabled]="!_canEditEInvoiceInfo" expand="block" (click)="Apply(true)">{{'Áp dụng' | translate}}</ion-button>
		</div>
	</div>
</ion-footer>
